/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-tree,
.veui-tree-item-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.veui-tree-item {
  height: 36px;
  line-height: 36px;
  *zoom: 1;
}
.veui-tree-item:before,
.veui-tree-item:after {
  display: table;
  content: "";
}
.veui-tree-item:after {
  clear: both;
}
.veui-tree-item-expand-switcher,
.veui-tree-item-label {
  float: left;
}
.veui-tree-item-expand-switcher {
  height: 14px;
  line-height: 14px;
  vertical-align: top;
  margin-right: 4px;
  cursor: pointer;
  margin-top: calc(18px - 0.5em);
}
.veui-tree-item-expand-switcher .veui-icon {
  width: 14px;
  height: 14px;
}
.veui-tree-item-expanded .veui-tree-item-expand-switcher {
  transform: rotateZ(90deg);
}
.veui-tree-item-group {
  display: none;
  padding-left: 18px;
}
.veui-tree-item-expanded + .veui-tree-item-group {
  display: block;
}
.veui-tree-item-label:first-child {
  margin-left: 18px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-transfer {
  *zoom: 1;
  display: inline-block;
}
.veui-transfer:before,
.veui-transfer:after {
  display: table;
  content: "";
}
.veui-transfer:after {
  clear: both;
}
.veui-transfer .veui-filter-panel {
  float: left;
}
.veui-transfer .veui-tree-item {
  height: auto;
}
.veui-transfer-candidate-panel {
  margin-right: 20px;
}
.veui-transfer .veui-filter-panel-content-main {
  position: relative;
}
.veui-transfer-candidate-item,
.veui-transfer-selected-item {
  padding: 0 20px;
  cursor: pointer;
  color: #666;
  height: 36px;
  line-height: 36px;
}
.veui-transfer-candidate-item::before,
.veui-transfer-selected-item::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  height: 36px;
}
.veui-transfer-candidate-item:hover::before,
.veui-transfer-selected-item:hover::before {
  background: #f7f7f7;
}
.veui-transfer-candidate-item:active::before,
.veui-transfer-selected-item:active::before {
  background: #e7e7e7;
}
.veui-transfer-candidate-item .veui-transfer-item-text,
.veui-transfer-selected-item .veui-transfer-item-text,
.veui-transfer-candidate-item .veui-icon,
.veui-transfer-selected-item .veui-icon {
  position: relative;
  z-index: 1;
}
.veui-transfer-candidate-item-hidden,
.veui-transfer-selected-item-hidden {
  display: none;
}
.veui-transfer-candidate-item:hover .veui-transfer-candidate-icon-selected,
.veui-transfer-candidate-item:hover .veui-transfer-candidate-icon-unselected {
  display: block;
}
.veui-transfer-candidate-item-label-selected {
  color: #b8b8b8;
}
.veui-transfer-selected-item:hover .veui-transfer-selected-icon-remove {
  display: block;
}
.veui-transfer-item-text {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  float: left;
}
.veui-transfer-item-label {
  *zoom: 1;
}
.veui-transfer-item-label:before,
.veui-transfer-item-label:after {
  display: table;
  content: "";
}
.veui-transfer-item-label:after {
  clear: both;
}
.veui-transfer-item-label:first-child {
  margin-left: 18px;
}
.veui-transfer-candidate-icon-selected,
.veui-transfer-candidate-icon-unselected,
.veui-transfer-selected-icon-remove {
  float: right;
  margin-top: calc(18px - .5em);
  vertical-align: top;
  display: none;
}
.veui-transfer-selected-icon-remove {
  width: 12px;
  height: 12px;
}
.veui-transfer-select-all,
.veui-transfer-remove-all {
  float: right;
}
.veui-transfer-selected-flat {
  width: 350px;
  min-width: 350px;
}
.veui-transfer-selected-flat-items {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #666;
}
.veui-transfer-selected-flat-item {
  padding: 0 20px;
  cursor: pointer;
  position: relative;
}
.veui-transfer-selected-flat-item:hover {
  background: #f7f7f7;
}
.veui-transfer-selected-flat-item:active {
  background: #e7e7e7;
}
.veui-transfer-selected-flat-item-label {
  padding: 7px 20px 7px 0;
}
.veui-transfer-selected-flat-item-hidden {
  display: none;
}
.veui-transfer-selected-flat-option-separator {
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin-top: calc(11px - .5em);
  vertical-align: top;
}
.veui-transfer-selected-flat-icon-remove {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: none;
  width: 12px;
  height: 12px;
}
.veui-transfer-selected-flat-item:hover .veui-transfer-selected-flat-icon-remove {
  display: block;
}
.veui-transfer-disabled .veui-transfer-candidate-item,
.veui-transfer-disabled .veui-transfer-selected-item,
.veui-transfer-disabled .veui-transfer-selected-flat-item {
  cursor: not-allowed;
}
.veui-transfer-disabled .veui-transfer-item-text,
.veui-transfer-disabled .veui-transfer-candidate-icon-unselected,
.veui-transfer-disabled .veui-transfer-selected-icon-remove,
.veui-transfer-disabled .veui-transfer-selected-flat-item-label {
  color: #b8b8b8;
}
.veui-transfer.veui-input-invalid + .veui-field-error {
  position: absolute;
  display: block;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-left: 120px;
}
.veui-transfer.veui-input-invalid + .veui-field-error .veui-icon {
  margin-top: calc(30px / 2 - .5em);
}

