
.one-details[data-v-1bf0130e] {
  overflow: hidden;
}
.summary[data-v-1bf0130e] {
  border: none;
  background: none;
  padding-left: 0;
  cursor: help;
  outline: none;
}
.summary[data-v-1bf0130e]:hover {
  color: #333;
}
.content[data-v-1bf0130e] {
  overflow: hidden;
  transition: height 0.3s;
}
.arrow[data-v-1bf0130e] {
  vertical-align: top;
  margin-top: 0.35em;
  transition: transform 0.3s;
}
.expanded > .summary > .arrow[data-v-1bf0130e] {
  transform: rotateZ(90deg);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-textarea.veui-input-invalid,
.veui-textarea.veui-input-invalid:hover,
.veui-textarea.veui-input-invalid:focus {
  border-color: #ff5b5b;
}
.veui-textarea {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 300px;
  border: 1px solid #dbdbdb;
  padding: 0;
  background-color: #eee;
  font-size: 14px;
  line-height: 36px;
  transition: border-color 0.3s, color 0.3s;
  color: #666;
  min-height: 150px;
}
.veui-textarea:hover,
.veui-textarea-focused {
  border-color: #999;
}
.veui-textarea-focused {
  color: #333;
}
.veui-textarea-input,
.veui-textarea-measurer {
  font: inherit;
}
.veui-textarea-input {
  position: relative;
  float: right;
  width: 100%;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  border: none;
  outline: none;
  padding: 0 10px;
  z-index: 1;
  resize: none;
}
.veui-textarea-rows {
  min-height: auto;
}
.veui-textarea-rows .veui-textarea-input {
  height: auto;
}
.veui-textarea-measurer + .veui-textarea-input {
  max-width: calc(100% - 36px);
}
.veui-textarea-measurer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #999;
}
.veui-textarea-measurer-line {
  overflow: hidden;
}
.veui-textarea-measurer-line-number {
  float: left;
  min-width: 36px;
  text-align: center;
}
.veui-textarea-measurer-line-content {
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  visibility: hidden;
}
.veui-textarea[ui~="small"] {
  font-size: 12px;
  line-height: 32px;
}
.veui-textarea[ui~="large"] {
  font-size: 16px;
  line-height: 42px;
}
.veui-textarea.veui-readonly,
.veui-textarea.veui-disabled,
.veui-textarea.veui-readonly:hover,
.veui-textarea.veui-disabled:hover {
  border-color: #dbdbdb;
  color: #999;
}
.veui-textarea.veui-readonly .veui-textarea-input,
.veui-textarea.veui-disabled .veui-textarea-input {
  background-color: #f7f7f7;
}
.veui-textarea.veui-disabled,
.veui-textarea.veui-disabled .veui-textarea-input {
  cursor: not-allowed;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-checkbox {
  position: relative;
  display: inline-block;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.veui-checkbox input {
  position: absolute;
  opacity: 0;
}
.veui-checkbox-label,
.veui-checkbox-box {
  vertical-align: top;
  display: inline-block;
  transition: color 0.3s;
}
.veui-field > .veui-checkbox {
  line-height: 36px;
}
.veui-field > .veui-checkbox .veui-checkbox-box {
  vertical-align: text-top;
}
.veui-checkbox .focus-visible ~ .veui-checkbox-box,
.veui-checkbox .focus-visible ~ .veui-checkbox-label,
.veui-checkbox:hover {
  color: #333;
}
.veui-checkbox .focus-visible ~ .veui-checkbox-box {
  box-shadow: 0 0 0 2px #dbdbdb;
}
.veui-checkbox-box {
  position: relative;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border: 1px solid #666;
  background-color: #fff;
  font-size: 16px;
  transition: box-shadow 0.3s;
}
.veui-checkbox-box .veui-icon {
  color: #333;
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s, opacity 0.3s;
}
.veui-checkbox-icon-enter,
.veui-checkbox-icon-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}
.veui-checkbox:hover .veui-checkbox-box {
  border-color: #333;
}
.veui-checkbox :checked + .veui-checkbox-box,
.veui-checkbox :indeterminate + .veui-checkbox-box {
  border-color: #333;
}
.veui-checkbox.veui-disabled {
  cursor: not-allowed;
}
.veui-checkbox.veui-disabled .veui-checkbox-label {
  color: #999;
}
.veui-checkbox.veui-disabled .veui-checkbox-box {
  border-color: #dbdbdb;
  background-color: #eee;
}
.veui-checkbox.veui-disabled .veui-checkbox-box .veui-icon {
  color: #dbdbdb;
}
.veui-checkbox[ui~="small"] {
  font-size: 12px;
  line-height: 12px;
}
.veui-field[ui~="small"] > .veui-checkbox[ui~="small"] {
  line-height: 32px;
}
.veui-field[ui~="small"] > .veui-checkbox[ui~="small"] .veui-checkbox-box {
  vertical-align: -2px;
}
.veui-checkbox[ui~="small"] .veui-checkbox-box {
  margin-right: 6px;
  height: 12px;
  width: 12px;
  font-size: 12px;
}


section[data-v-50392578] {
  margin-bottom: 1em;
}


section[data-v-3486d608] {
  margin-bottom: 1em;
}


.one-demo[data-v-60514566] {
  overflow: hidden;
}
.arrow[data-v-60514566] {
  transition: transform 0.3s;
  vertical-align: -2px;
  transform: rotateZ(90deg);
}
.one-demo.expanded .arrow[data-v-60514566] {
  transform: rotateZ(270deg);
}
.demo[data-v-60514566] {
  border: 1px solid #eee;
  padding: 30px;
}
.desc[data-v-60514566] {
  border: 1px solid #eee;
  padding: 18px 20px;
  background-color: #fcfcfc;
}
.source[data-v-60514566] {
  transition: height 0.3s;
}
.source[data-v-60514566] pre {
  margin-top: 0;
  margin-bottom: 0;
}
.desc[data-v-60514566],
.source[data-v-60514566] pre,
.toggle[data-v-60514566] {
  margin-top: -1px;
}
.toggle[data-v-60514566] {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  transition: background-color 0.3s;
  outline: none;
}
.toggle[data-v-60514566]:hover,
.toggle.focus-visible[data-v-60514566] {
  background-color: #fafafa;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs[data-v-3cf05edd] {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment[data-v-3cf05edd],
.hljs-quote[data-v-3cf05edd] {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag[data-v-3cf05edd],
.hljs-keyword[data-v-3cf05edd],
.hljs-formula[data-v-3cf05edd] {
  color: #c678dd;
}
.hljs-section[data-v-3cf05edd],
.hljs-name[data-v-3cf05edd],
.hljs-selector-tag[data-v-3cf05edd],
.hljs-deletion[data-v-3cf05edd],
.hljs-subst[data-v-3cf05edd] {
  color: #e06c75;
}
.hljs-literal[data-v-3cf05edd] {
  color: #56b6c2;
}
.hljs-string[data-v-3cf05edd],
.hljs-regexp[data-v-3cf05edd],
.hljs-addition[data-v-3cf05edd],
.hljs-attribute[data-v-3cf05edd],
.hljs-meta-string[data-v-3cf05edd] {
  color: #98c379;
}
.hljs-built_in[data-v-3cf05edd],
.hljs-class .hljs-title[data-v-3cf05edd] {
  color: #e6c07b;
}
.hljs-attr[data-v-3cf05edd],
.hljs-variable[data-v-3cf05edd],
.hljs-template-variable[data-v-3cf05edd],
.hljs-type[data-v-3cf05edd],
.hljs-selector-class[data-v-3cf05edd],
.hljs-selector-attr[data-v-3cf05edd],
.hljs-selector-pseudo[data-v-3cf05edd],
.hljs-number[data-v-3cf05edd] {
  color: #d19a66;
}
.hljs-symbol[data-v-3cf05edd],
.hljs-bullet[data-v-3cf05edd],
.hljs-link[data-v-3cf05edd],
.hljs-meta[data-v-3cf05edd],
.hljs-selector-id[data-v-3cf05edd],
.hljs-title[data-v-3cf05edd] {
  color: #61aeee;
}
.hljs-emphasis[data-v-3cf05edd] {
  font-style: italic;
}
.hljs-strong[data-v-3cf05edd] {
  font-weight: bold;
}
.hljs-link[data-v-3cf05edd] {
  text-decoration: underline;
}
.post[data-v-3cf05edd] {
  padding: 45px 60px;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  font-weight: 400;
}
.post-layout .post[data-v-3cf05edd] {
  min-height: 100%;
  margin-bottom: -192px;
}
.post-layout .post[data-v-3cf05edd]::after {
  content: "";
  display: block;
  height: 192px;
}
.post-layout.no-links .post[data-v-3cf05edd] {
  margin-bottom: -58px;
}
.no-links .post[data-v-3cf05edd]::after {
  height: 58px;
}
.post h1[data-v-3cf05edd] {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 36px;
}
.post h1 small[data-v-3cf05edd] {
  vertical-align: 0.1em;
  color: #999;
}
.post h2[data-v-3cf05edd] {
  margin-top: 1.3em;
  margin-bottom: 1.2em;
  font-size: 30px;
}
.post h2[data-v-3cf05edd]::before {
  content: "#";
  margin-right: 5px;
  color: #ccc;
}
.post h2 + h3[data-v-3cf05edd] {
  margin-top: 2em;
}
.post h3[data-v-3cf05edd] {
  margin-top: 1.25em;
  margin-bottom: 1.15em;
  font-size: 24px;
}
.post h4[data-v-3cf05edd] {
  margin-top: 1.15em;
  margin-bottom: 1.1em;
  font-size: 18px;
}
.post h5[data-v-3cf05edd] {
  margin-top: 1.05em;
  margin-bottom: 1.05em;
  font-size: 14px;
}
.post h6[data-v-3cf05edd] {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
}
.post h1[data-v-3cf05edd],
.post h2[data-v-3cf05edd],
.post h3[data-v-3cf05edd] {
  font-weight: 500;
  clear: both;
}
.post h1[data-v-3cf05edd],
.post h2[data-v-3cf05edd],
.post h3[data-v-3cf05edd],
.post h4[data-v-3cf05edd],
.post h5[data-v-3cf05edd],
.post h6[data-v-3cf05edd] {
  color: #333;
  line-height: 1;
}
.post br[data-v-3cf05edd] {
  clear: both;
}
.post p[data-v-3cf05edd] {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.post ul[data-v-3cf05edd],
.post ol[data-v-3cf05edd] {
  padding-left: 1.5em;
}
.post blockquote[data-v-3cf05edd] {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 5px solid #f1f1f1;
  color: #999;
}
.post table[data-v-3cf05edd] {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
  border-style: none solid;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.post th[data-v-3cf05edd],
.post td[data-v-3cf05edd] {
  min-width: 90px;
  padding: 7px 14px;
  border: 1px solid #f1f1f1;
  border-style: solid none;
  text-align: left;
}
.post th[data-v-3cf05edd] > :first-child,
.post td[data-v-3cf05edd] > :first-child {
  margin-top: 5px;
}
.post th[data-v-3cf05edd] > :last-child,
.post td[data-v-3cf05edd] > :last-child {
  margin-bottom: 5px;
}
.post th pre[data-v-3cf05edd],
.post td pre[data-v-3cf05edd] {
  padding: 10px 15px;
}
.post th table[data-v-3cf05edd],
.post td table[data-v-3cf05edd] {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.post td[data-v-3cf05edd]:first-child {
  white-space: nowrap;
}
.post a[data-v-3cf05edd]:link:not([class^="veui-"]),
.post a[data-v-3cf05edd]:visited:not([class^="veui-"]) {
  text-decoration: none;
  color: #3998fc;
  transition: color 0.2s;
}
.post a[data-v-3cf05edd]:link:not([class^="veui-"]):hover,
.post a[data-v-3cf05edd]:visited:not([class^="veui-"]):hover {
  color: #3389e3;
}
.post a[data-v-3cf05edd]:link:not([class^="veui-"]):active,
.post a[data-v-3cf05edd]:visited:not([class^="veui-"]):active {
  color: #2e7aca;
}
.post code[data-v-3cf05edd] {
  padding: 2px 4px;
  background-color: rgba(0,0,0,0.024);
  font-size: 90%;
}
.post hr[data-v-3cf05edd] {
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background-color: #eff0f1;
  border: 0;
  clear: both;
}
.post figure[data-v-3cf05edd] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post figure + h1[data-v-3cf05edd],
.post figure + h2[data-v-3cf05edd],
.post figure + h3[data-v-3cf05edd],
.post figure + h4[data-v-3cf05edd],
.post figure + h5[data-v-3cf05edd],
.post figure + h6[data-v-3cf05edd] {
  margin-top: 0;
}
.post figure img[data-v-3cf05edd] {
  display: block;
  margin: auto;
}
.post figure .preview[data-v-3cf05edd] {
  padding: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  transition: box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
}
.post figure .preview[data-v-3cf05edd]:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.post figure.hero[data-v-3cf05edd] {
  width: 100%;
}
.post figcaption[data-v-3cf05edd] {
  margin-top: 10px;
  font-size: 12px;
}
.post figcaption p[data-v-3cf05edd] {
  margin: 0;
  line-height: 20px;
}
.post figcaption .caption[data-v-3cf05edd] {
  font-weight: 500;
}
.post figcaption .desc[data-v-3cf05edd] {
  color: #999;
}
.post .comparison[data-v-3cf05edd] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post .comparison figure[data-v-3cf05edd] {
  width: calc(50% - 5px);
  margin: 0;
}
.post .comparison .good[data-v-3cf05edd] {
  float: left;
}
.post .comparison .bad[data-v-3cf05edd] {
  float: right;
}
.post .comparison .bad .caption[data-v-3cf05edd] {
  color: #ff5b5b;
}
.post img[data-v-3cf05edd] {
  max-width: 100%;
  max-height: 100%;
}
.post pre[data-v-3cf05edd] {
  border: 1px solid #eee;
  padding: 30px;
  background-color: #f9f9f9;
}
.post pre code[data-v-3cf05edd] {
  background-color: transparent;
  padding: 0;
}
.post var[data-v-3cf05edd] {
  font-family: "PT Serif", Georgia, serif;
}
.post kbd[data-v-3cf05edd] {
  display: inline-block;
  padding: 3px 5px;
  font-size: 90%;
  line-height: 10px;
  color: #444d56;
  vertical-align: 1px;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.post .custom-block[data-v-3cf05edd] {
  border: 1px solid;
  margin: 1em 0;
  padding: 0.75em 1em;
}
.post .custom-block[data-v-3cf05edd] > :first-child {
  margin-top: 0;
}
.post .custom-block[data-v-3cf05edd] > :last-child {
  margin-bottom: 0;
}
.post .alert[data-v-3cf05edd],
.post .warning[data-v-3cf05edd],
.post .tip[data-v-3cf05edd] {
  font-size: 13px;
}
.post .alert[data-v-3cf05edd] {
  border-color: #fee;
  background-color: #fff6f6;
}
.post .warning[data-v-3cf05edd] {
  border-color: #fef4e6;
  background-color: #fef9f2;
}
.post .tip[data-v-3cf05edd] {
  border-color: #d8ebff;
  background-color: #ebf5ff;
}
.post .badges[data-v-3cf05edd] {
  border: none;
  padding: 0;
}
.post .badges code[data-v-3cf05edd] {
  padding: 2px 3px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: 80%;
}
.post .oss-badges[data-v-3cf05edd] {
  border: none;
  padding: 0;
}
.post .oss-badges a[data-v-3cf05edd] {
  margin-right: 10px;
}
.post .one-demo[data-v-3cf05edd] {
  margin: 1em 0 1.25em;
}

