
.one-details[data-v-1bf0130e] {
  overflow: hidden;
}
.summary[data-v-1bf0130e] {
  border: none;
  background: none;
  padding-left: 0;
  cursor: help;
  outline: none;
}
.summary[data-v-1bf0130e]:hover {
  color: #333;
}
.content[data-v-1bf0130e] {
  overflow: hidden;
  transition: height 0.3s;
}
.arrow[data-v-1bf0130e] {
  vertical-align: top;
  margin-top: 0.35em;
  transition: transform 0.3s;
}
.expanded > .summary > .arrow[data-v-1bf0130e] {
  transform: rotateZ(90deg);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-pager {
  *zoom: 1;
  display: inline-block;
  color: #666;
}
.veui-pager:before,
.veui-pager:after {
  display: table;
  content: "";
}
.veui-pager:after {
  clear: both;
}
.veui-pager a {
  color: inherit;
  text-decoration: none;
}
.veui-pager a:focus {
  outline: none;
}
.veui-pager-info {
  display: none;
  float: left;
  margin-right: 6px;
  line-height: 30px;
}
.veui-pager-total,
.veui-pager-size {
  display: inline-block;
}
.veui-pager-size {
  margin-right: 10px;
  margin-left: 20px;
}
.veui-pager-switch {
  float: left;
}
.veui-pager-switch .veui-active a,
.veui-pager-switch .veui-active span {
  color: #333;
}
.veui-pager .veui-active a,
.veui-pager .veui-active span {
  background-color: #eee;
}
.veui-pager-buttons {
  float: left;
  margin-left: 6px;
}
.veui-pager-buttons a {
  transition-property: border-color, background-color, color, opacity;
  transition-duration: 0.2s;
}
.veui-pager-buttons a,
.veui-pager-buttons span {
  border: 1px solid #dbdbdb;
  background: transparent;
}
.veui-pager-buttons a:hover,
.veui-pager-buttons span:hover {
  color: #333;
  background-color: #f7f7f7;
}
.veui-pager-buttons a.focus-visible,
.veui-pager-buttons span.focus-visible {
  color: #3998fc;
}
.veui-pager-buttons a:active,
.veui-pager-buttons span:active {
  background-color: #e7e7e7;
}
.veui-pager-buttons a.veui-disabled,
.veui-pager-buttons span.veui-disabled,
.veui-pager-buttons a.veui-disabled:hover,
.veui-pager-buttons span.veui-disabled:hover,
.veui-pager-buttons a.veui-disabled:active,
.veui-pager-buttons span.veui-disabled:active {
  background-color: #eee;
  border-color: transparent;
  color: #b8b8b8;
}
.veui-pager-buttons a .veui-icon,
.veui-pager-buttons span .veui-icon {
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 50%;
  left: auto;
  transform: translate(50%, 50%);
}
.veui-pager .veui-select {
  min-width: auto;
  margin-top: -1px;
  margin-left: 10px;
  vertical-align: top;
}
.veui-pager .veui-select .veui-button {
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  line-height: 28px;
  white-space: nowrap;
  color: #333;
}
.veui-pager .veui-select .veui-button .veui-icon {
  margin-top: calc(14px - 0.5em);
}
.veui-pager .veui-select .veui-select-label {
  max-width: none;
  width: auto;
  float: left;
  margin-right: 5px;
}
.veui-pager-previous,
.veui-pager-next {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
}
.veui-pager-pages {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.veui-pager-pages li {
  float: left;
  width: 28px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.veui-pager-pages li .veui-link {
  display: inline-block;
  min-width: 30px;
  padding-right: 6px;
  padding-left: 6px;
}
.veui-pager-pages li .veui-link:hover {
  color: #333;
}
.veui-pager-pages li .veui-link.focus-visible {
  color: #2e7aca;
}
.veui-pager-pages li span.veui-link {
  cursor: default;
}
.veui-pager-pages span {
  color: #999;
}
.veui-pager .veui-pager-digit-length-4 li {
  width: 40px;
}
.veui-pager .veui-pager-digit-length-3 li {
  width: 34px;
}
.veui-pager .veui-pager-switch,
.veui-pager[ui~="slim"] .veui-pager-switch {
  padding: 0 36px;
  position: relative;
}
.veui-pager .veui-pager-previous,
.veui-pager[ui~="slim"] .veui-pager-previous {
  position: absolute;
  left: 0;
}
.veui-pager[ui~="hetero"] .veui-pager-switch,
.veui-pager[ui~="full"] .veui-pager-switch {
  padding-left: 0;
}
.veui-pager[ui~="hetero"] .veui-pager-previous,
.veui-pager[ui~="full"] .veui-pager-previous {
  position: relative;
  margin-right: 6px;
}
.veui-pager[ui~="full"] .veui-pager-info {
  display: block;
}
.veui-pager[ui~="slim"] .veui-pager-switch {
  padding: 0 24px;
}
.veui-pager[ui~="slim"] .veui-pager-switch li {
  width: 18.66666667px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.veui-pager[ui~="slim"] .veui-pager-switch li a {
  min-width: 20px;
}
.veui-pager[ui~="slim"] .veui-pager-previous,
.veui-pager[ui~="slim"] .veui-pager-next {
  width: 20px;
  height: 20px;
  line-height: 1.5;
}
.veui-pager[ui~="slim"] .veui-icon {
  height: 10px;
}
.veui-pager[ui~="slim"] .veui-pager-digit-length-4 li {
  width: 32px;
}
.veui-pager[ui~="slim"] .veui-pager-digit-length-3 li {
  width: 27.2px;
}


.veui-pagination[data-v-2372e320] {
  display: block;
  margin: 1.2em 0;
}


.one-demo[data-v-60514566] {
  overflow: hidden;
}
.arrow[data-v-60514566] {
  transition: transform 0.3s;
  vertical-align: -2px;
  transform: rotateZ(90deg);
}
.one-demo.expanded .arrow[data-v-60514566] {
  transform: rotateZ(270deg);
}
.demo[data-v-60514566] {
  border: 1px solid #eee;
  padding: 30px;
}
.desc[data-v-60514566] {
  border: 1px solid #eee;
  padding: 18px 20px;
  background-color: #fcfcfc;
}
.source[data-v-60514566] {
  transition: height 0.3s;
}
.source[data-v-60514566] pre {
  margin-top: 0;
  margin-bottom: 0;
}
.desc[data-v-60514566],
.source[data-v-60514566] pre,
.toggle[data-v-60514566] {
  margin-top: -1px;
}
.toggle[data-v-60514566] {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  transition: background-color 0.3s;
  outline: none;
}
.toggle[data-v-60514566]:hover,
.toggle.focus-visible[data-v-60514566] {
  background-color: #fafafa;
}


@media screen and (min-resolution: 2dppx) {
html[data-v-34c23842] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}
*[data-v-34c23842],
*[data-v-34c23842]::before,
*[data-v-34c23842]::after {
  box-sizing: border-box;
}
html[data-v-34c23842] {
  font-family: "Helvetica Neue", Arial, PingFang SC, "Microsoft YaHei", sans-serif;
  font-weight: 400;
  color: #333;
}
html[data-v-34c23842],
body[data-v-34c23842],
#__nuxt[data-v-34c23842],
#__layout[data-v-34c23842] {
  height: 100%;
}
button[data-v-34c23842],
input[data-v-34c23842] {
  font: inherit;
  color: inherit;
}
a[data-v-34c23842]:focus {
  outline: none;
}
main[data-v-34c23842] {
  line-height: 1.5;
}
menu[data-v-34c23842] {
  margin: 0;
  padding: 0;
}
.menu-item[data-v-34c23842] {
  list-style: none;
  line-height: 1;
}
.menu-link[data-v-34c23842] {
  display: block;
  position: relative;
  text-decoration: none;
  cursor: default;
}
a.menu-link[data-v-34c23842] {
  cursor: pointer;
}
.menu-link[data-v-34c23842]::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0;
  height: 2px;
  transition: width 0.2s, left 0.2s;
}
a.menu-link[data-v-34c23842]:focus::after,
a.menu-link[data-v-34c23842]:hover::after {
  width: 100%;
  left: 0;
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs[data-v-34c23842] {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment[data-v-34c23842],
.hljs-quote[data-v-34c23842] {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag[data-v-34c23842],
.hljs-keyword[data-v-34c23842],
.hljs-formula[data-v-34c23842] {
  color: #c678dd;
}
.hljs-section[data-v-34c23842],
.hljs-name[data-v-34c23842],
.hljs-selector-tag[data-v-34c23842],
.hljs-deletion[data-v-34c23842],
.hljs-subst[data-v-34c23842] {
  color: #e06c75;
}
.hljs-literal[data-v-34c23842] {
  color: #56b6c2;
}
.hljs-string[data-v-34c23842],
.hljs-regexp[data-v-34c23842],
.hljs-addition[data-v-34c23842],
.hljs-attribute[data-v-34c23842],
.hljs-meta-string[data-v-34c23842] {
  color: #98c379;
}
.hljs-built_in[data-v-34c23842],
.hljs-class .hljs-title[data-v-34c23842] {
  color: #e6c07b;
}
.hljs-attr[data-v-34c23842],
.hljs-variable[data-v-34c23842],
.hljs-template-variable[data-v-34c23842],
.hljs-type[data-v-34c23842],
.hljs-selector-class[data-v-34c23842],
.hljs-selector-attr[data-v-34c23842],
.hljs-selector-pseudo[data-v-34c23842],
.hljs-number[data-v-34c23842] {
  color: #d19a66;
}
.hljs-symbol[data-v-34c23842],
.hljs-bullet[data-v-34c23842],
.hljs-link[data-v-34c23842],
.hljs-meta[data-v-34c23842],
.hljs-selector-id[data-v-34c23842],
.hljs-title[data-v-34c23842] {
  color: #61aeee;
}
.hljs-emphasis[data-v-34c23842] {
  font-style: italic;
}
.hljs-strong[data-v-34c23842] {
  font-weight: bold;
}
.hljs-link[data-v-34c23842] {
  text-decoration: underline;
}
.post[data-v-34c23842] {
  padding: 45px 60px;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  font-weight: 400;
}
.post-layout .post[data-v-34c23842] {
  min-height: 100%;
  margin-bottom: -192px;
}
.post-layout .post[data-v-34c23842]::after {
  content: "";
  display: block;
  height: 192px;
}
.post-layout.no-links .post[data-v-34c23842] {
  margin-bottom: -58px;
}
.no-links .post[data-v-34c23842]::after {
  height: 58px;
}
.post h1[data-v-34c23842] {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 36px;
}
.post h1 small[data-v-34c23842] {
  vertical-align: 0.1em;
  color: #999;
}
.post h2[data-v-34c23842] {
  margin-top: 1.3em;
  margin-bottom: 1.2em;
  font-size: 30px;
}
.post h2[data-v-34c23842]::before {
  content: "#";
  margin-right: 5px;
  color: #ccc;
}
.post h2 + h3[data-v-34c23842] {
  margin-top: 2em;
}
.post h3[data-v-34c23842] {
  margin-top: 1.25em;
  margin-bottom: 1.15em;
  font-size: 24px;
}
.post h4[data-v-34c23842] {
  margin-top: 1.15em;
  margin-bottom: 1.1em;
  font-size: 18px;
}
.post h5[data-v-34c23842] {
  margin-top: 1.05em;
  margin-bottom: 1.05em;
  font-size: 14px;
}
.post h6[data-v-34c23842] {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
}
.post h1[data-v-34c23842],
.post h2[data-v-34c23842],
.post h3[data-v-34c23842] {
  font-weight: 500;
  clear: both;
}
.post h1[data-v-34c23842],
.post h2[data-v-34c23842],
.post h3[data-v-34c23842],
.post h4[data-v-34c23842],
.post h5[data-v-34c23842],
.post h6[data-v-34c23842] {
  color: #333;
  line-height: 1;
}
.post br[data-v-34c23842] {
  clear: both;
}
.post p[data-v-34c23842] {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.post ul[data-v-34c23842],
.post ol[data-v-34c23842] {
  padding-left: 1.5em;
}
.post blockquote[data-v-34c23842] {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 5px solid #f1f1f1;
  color: #999;
}
.post table[data-v-34c23842] {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
  border-style: none solid;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.post th[data-v-34c23842],
.post td[data-v-34c23842] {
  min-width: 90px;
  padding: 7px 14px;
  border: 1px solid #f1f1f1;
  border-style: solid none;
  text-align: left;
}
.post th[data-v-34c23842] > :first-child,
.post td[data-v-34c23842] > :first-child {
  margin-top: 5px;
}
.post th[data-v-34c23842] > :last-child,
.post td[data-v-34c23842] > :last-child {
  margin-bottom: 5px;
}
.post th pre[data-v-34c23842],
.post td pre[data-v-34c23842] {
  padding: 10px 15px;
}
.post th table[data-v-34c23842],
.post td table[data-v-34c23842] {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.post td[data-v-34c23842]:first-child {
  white-space: nowrap;
}
.post a[data-v-34c23842]:link:not([class^="veui-"]),
.post a[data-v-34c23842]:visited:not([class^="veui-"]) {
  text-decoration: none;
  color: #3998fc;
  transition: color 0.2s;
}
.post a[data-v-34c23842]:link:not([class^="veui-"]):hover,
.post a[data-v-34c23842]:visited:not([class^="veui-"]):hover {
  color: #3389e3;
}
.post a[data-v-34c23842]:link:not([class^="veui-"]):active,
.post a[data-v-34c23842]:visited:not([class^="veui-"]):active {
  color: #2e7aca;
}
.post code[data-v-34c23842] {
  padding: 2px 4px;
  background-color: rgba(0,0,0,0.024);
  font-size: 90%;
}
.post hr[data-v-34c23842] {
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background-color: #eff0f1;
  border: 0;
  clear: both;
}
.post figure[data-v-34c23842] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post figure + h1[data-v-34c23842],
.post figure + h2[data-v-34c23842],
.post figure + h3[data-v-34c23842],
.post figure + h4[data-v-34c23842],
.post figure + h5[data-v-34c23842],
.post figure + h6[data-v-34c23842] {
  margin-top: 0;
}
.post figure img[data-v-34c23842] {
  display: block;
  margin: auto;
}
.post figure .preview[data-v-34c23842] {
  padding: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  transition: box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
}
.post figure .preview[data-v-34c23842]:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.post figure.hero[data-v-34c23842] {
  width: 100%;
}
.post figcaption[data-v-34c23842] {
  margin-top: 10px;
  font-size: 12px;
}
.post figcaption p[data-v-34c23842] {
  margin: 0;
  line-height: 20px;
}
.post figcaption .caption[data-v-34c23842] {
  font-weight: 500;
}
.post figcaption .desc[data-v-34c23842] {
  color: #999;
}
.post .comparison[data-v-34c23842] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post .comparison figure[data-v-34c23842] {
  width: calc(50% - 5px);
  margin: 0;
}
.post .comparison .good[data-v-34c23842] {
  float: left;
}
.post .comparison .bad[data-v-34c23842] {
  float: right;
}
.post .comparison .bad .caption[data-v-34c23842] {
  color: #ff5b5b;
}
.post img[data-v-34c23842] {
  max-width: 100%;
  max-height: 100%;
}
.post pre[data-v-34c23842] {
  border: 1px solid #eee;
  padding: 30px;
  background-color: #f9f9f9;
}
.post pre code[data-v-34c23842] {
  background-color: transparent;
  padding: 0;
}
.post var[data-v-34c23842] {
  font-family: "PT Serif", Georgia, serif;
}
.post kbd[data-v-34c23842] {
  display: inline-block;
  padding: 3px 5px;
  font-size: 90%;
  line-height: 10px;
  color: #444d56;
  vertical-align: 1px;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.post .custom-block[data-v-34c23842] {
  border: 1px solid;
  margin: 1em 0;
  padding: 0.75em 1em;
}
.post .custom-block[data-v-34c23842] > :first-child {
  margin-top: 0;
}
.post .custom-block[data-v-34c23842] > :last-child {
  margin-bottom: 0;
}
.post .alert[data-v-34c23842],
.post .warning[data-v-34c23842],
.post .tip[data-v-34c23842] {
  font-size: 13px;
}
.post .alert[data-v-34c23842] {
  border-color: #fee;
  background-color: #fff6f6;
}
.post .warning[data-v-34c23842] {
  border-color: #fef4e6;
  background-color: #fef9f2;
}
.post .tip[data-v-34c23842] {
  border-color: #d8ebff;
  background-color: #ebf5ff;
}
.post .badges[data-v-34c23842] {
  border: none;
  padding: 0;
}
.post .badges code[data-v-34c23842] {
  padding: 2px 3px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: 80%;
}
.post .oss-badges[data-v-34c23842] {
  border: none;
  padding: 0;
}
.post .oss-badges a[data-v-34c23842] {
  margin-right: 10px;
}
.post .one-demo[data-v-34c23842] {
  margin: 1em 0 1.25em;
}

