
@media screen and (min-resolution: 2dppx) {
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Arial, PingFang SC, "Microsoft YaHei", sans-serif;
  font-weight: 400;
  color: #333;
}
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
button,
input {
  font: inherit;
  color: inherit;
}
a:focus {
  outline: none;
}
main {
  line-height: 1.5;
}
menu {
  margin: 0;
  padding: 0;
}
.menu-item {
  list-style: none;
  line-height: 1;
}
.menu-link {
  display: block;
  position: relative;
  text-decoration: none;
  cursor: default;
}
a.menu-link {
  cursor: pointer;
}
.menu-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0;
  height: 2px;
  transition: width 0.2s, left 0.2s;
}
a.menu-link:focus::after,
a.menu-link:hover::after {
  width: 100%;
  left: 0;
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.post {
  padding: 45px 60px;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  font-weight: 400;
}
.post-layout .post {
  min-height: 100%;
  margin-bottom: -192px;
}
.post-layout .post::after {
  content: "";
  display: block;
  height: 192px;
}
.post-layout.no-links .post {
  margin-bottom: -58px;
}
.no-links .post::after {
  height: 58px;
}
.post h1 {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 36px;
}
.post h1 small {
  vertical-align: 0.1em;
  color: #999;
}
.post h2 {
  margin-top: 1.3em;
  margin-bottom: 1.2em;
  font-size: 30px;
}
.post h2::before {
  content: "#";
  margin-right: 5px;
  color: #ccc;
}
.post h2 + h3 {
  margin-top: 2em;
}
.post h3 {
  margin-top: 1.25em;
  margin-bottom: 1.15em;
  font-size: 24px;
}
.post h4 {
  margin-top: 1.15em;
  margin-bottom: 1.1em;
  font-size: 18px;
}
.post h5 {
  margin-top: 1.05em;
  margin-bottom: 1.05em;
  font-size: 14px;
}
.post h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
}
.post h1,
.post h2,
.post h3 {
  font-weight: 500;
  clear: both;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  color: #333;
  line-height: 1;
}
.post br {
  clear: both;
}
.post p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.post ul,
.post ol {
  padding-left: 1.5em;
}
.post blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 5px solid #f1f1f1;
  color: #999;
}
.post table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
  border-style: none solid;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.post th,
.post td {
  min-width: 90px;
  padding: 7px 14px;
  border: 1px solid #f1f1f1;
  border-style: solid none;
  text-align: left;
}
.post th > :first-child,
.post td > :first-child {
  margin-top: 5px;
}
.post th > :last-child,
.post td > :last-child {
  margin-bottom: 5px;
}
.post th pre,
.post td pre {
  padding: 10px 15px;
}
.post th table,
.post td table {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.post td:first-child {
  white-space: nowrap;
}
.post a:link:not([class^="veui-"]),
.post a:visited:not([class^="veui-"]) {
  text-decoration: none;
  color: #3998fc;
  transition: color 0.2s;
}
.post a:link:not([class^="veui-"]):hover,
.post a:visited:not([class^="veui-"]):hover {
  color: #3389e3;
}
.post a:link:not([class^="veui-"]):active,
.post a:visited:not([class^="veui-"]):active {
  color: #2e7aca;
}
.post code {
  padding: 2px 4px;
  background-color: rgba(0,0,0,0.024);
  font-size: 90%;
}
.post hr {
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background-color: #eff0f1;
  border: 0;
  clear: both;
}
.post figure {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post figure + h1,
.post figure + h2,
.post figure + h3,
.post figure + h4,
.post figure + h5,
.post figure + h6 {
  margin-top: 0;
}
.post figure img {
  display: block;
  margin: auto;
}
.post figure .preview {
  padding: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  transition: box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
}
.post figure .preview:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.post figure.hero {
  width: 100%;
}
.post figcaption {
  margin-top: 10px;
  font-size: 12px;
}
.post figcaption p {
  margin: 0;
  line-height: 20px;
}
.post figcaption .caption {
  font-weight: 500;
}
.post figcaption .desc {
  color: #999;
}
.post .comparison {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post .comparison figure {
  width: calc(50% - 5px);
  margin: 0;
}
.post .comparison .good {
  float: left;
}
.post .comparison .bad {
  float: right;
}
.post .comparison .bad .caption {
  color: #ff5b5b;
}
.post img {
  max-width: 100%;
  max-height: 100%;
}
.post pre {
  border: 1px solid #eee;
  padding: 30px;
  background-color: #f9f9f9;
}
.post pre code {
  background-color: transparent;
  padding: 0;
}
.post var {
  font-family: "PT Serif", Georgia, serif;
}
.post kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 90%;
  line-height: 10px;
  color: #444d56;
  vertical-align: 1px;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.post .custom-block {
  border: 1px solid;
  margin: 1em 0;
  padding: 0.75em 1em;
}
.post .custom-block > :first-child {
  margin-top: 0;
}
.post .custom-block > :last-child {
  margin-bottom: 0;
}
.post .alert,
.post .warning,
.post .tip {
  font-size: 13px;
}
.post .alert {
  border-color: #fee;
  background-color: #fff6f6;
}
.post .warning {
  border-color: #fef4e6;
  background-color: #fef9f2;
}
.post .tip {
  border-color: #d8ebff;
  background-color: #ebf5ff;
}
.post .badges {
  border: none;
  padding: 0;
}
.post .badges code {
  padding: 2px 3px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: 80%;
}
.post .oss-badges {
  border: none;
  padding: 0;
}
.post .oss-badges a {
  margin-right: 10px;
}
.post .one-demo {
  margin: 1em 0 1.25em;
}


.gallery {
  list-style: none;
  margin-top: 30px;
  overflow: hidden;
  padding: 0 !important;
}
.gallery li {
  float: left;
  margin-bottom: 50px;
}
.gallery li:nth-child(odd) {
  clear: left;
  margin-right: 50px;
}
.gallery a {
  position: relative;
  display: block;
  width: 350px;
  height: 105px;
  text-decoration: none;
  border: 1px solid #e6e6e6;
  white-space: nowrap;
  transition: border-color 0.2s;
}
.gallery a:hover,
.gallery a.focus-ring {
  border-color: #999;
}
.gallery a:active {
  border-color: #666;
}
.gallery a .desc {
  position: absolute;
  top: 50%;
  left: 95px;
  transform: translateY(-50%);
  overflow: hidden;
}
.gallery a h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  line-height: 18px;
}
.gallery a h2::after {
  content: none;
}
.gallery a p {
  margin: 0;
  font-size: 14px;
  color: #999;
  line-height: 18px;
}


.disabled[data-v-1db15400] {
  position: relative;
  opacity: 0.5;
  pointer-events: none;
}
.disabled[data-v-1db15400]::after {
  content: "COMING SOON";
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 0 4px;
  background-color: #666;
  color: #fff;
  font-size: 12px;
  transform: scale(0.75);
  transform-origin: 100% 0;
}
.angular[data-v-1db15400] {
  background: url("/icons/angular.svg") no-repeat 25px center/40px;
}
.vue[data-v-1db15400] {
  background: url("/icons/vue.svg") no-repeat 25px center/60px;
}
.react[data-v-1db15400] {
  background: url("/icons/react.svg") no-repeat 25px center/40px;
}
.san[data-v-1db15400] {
  background: url("/icons/san.svg") no-repeat 40px center/30px;
}

