/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-button {
  padding: 0 20px;
  user-select: none;
  vertical-align: middle;
  transition-property: border-color, background-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #666;
  height: 36px;
  line-height: 34px;
}
.veui-button:hover,
.veui-button:active {
  color: #333;
}
.veui-button:hover {
  background-color: #f7f7f7;
}
.veui-button:active {
  background-color: #e7e7e7;
}
.veui-button:focus {
  outline: none;
}
.veui-button.focus-visible {
  color: #3998fc;
}
.veui-button[ui~="primary"] {
  border-color: transparent;
  background-color: #3998fc;
  color: #fff;
}
.veui-button[ui~="primary"]:hover,
.veui-button[ui~="primary"].focus-visible {
  background-color: #3389e3;
}
.veui-button[ui~="primary"]:active {
  background-color: #2e7aca;
}
.veui-button[ui~="alt"] {
  border-color: transparent;
  background-color: #eee;
}
.veui-button[ui~="alt"]:hover {
  background-color: #e7e7e7;
}
.veui-button[ui~="alt"]:active {
  background-color: #dbdbdb;
}
.veui-button[ui~="alt"].focus-visible {
  color: #3998fc;
}
.veui-button[ui~="large"] {
  line-height: 42px;
  font-size: 16px;
  height: 42px;
  line-height: 40px;
}
.veui-button[ui~="large"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(20px - 0.5em);
}
.veui-button[ui~="small"] {
  line-height: 32px;
  font-size: 12px;
  height: 32px;
  line-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="small"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(15px - 0.5em);
}
.veui-button[ui~="tiny"] {
  line-height: 28px;
  font-size: 12px;
  height: 28px;
  line-height: 26px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="tiny"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(13px - 0.5em);
}
.veui-button[ui~="micro"] {
  min-width: auto;
  line-height: 22px;
  height: 22px;
  line-height: 20px;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="micro"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(10px - 0.5em);
}
.veui-button[ui~="round"] {
  border-radius: 50%;
}
.veui-button[ui~="round"],
.veui-button[ui~="square"] {
  width: 36px;
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.veui-button[ui~="round"][ui~="large"],
.veui-button[ui~="square"][ui~="large"] {
  width: 42px;
}
.veui-button[ui~="round"][ui~="small"],
.veui-button[ui~="square"][ui~="small"] {
  width: 32px;
}
.veui-button[ui~="round"][ui~="tiny"],
.veui-button[ui~="square"][ui~="tiny"] {
  width: 28px;
}
.veui-button[ui~="round"][ui~="micro"],
.veui-button[ui~="square"][ui~="micro"] {
  width: 22px;
}
.veui-button.veui-disabled,
.veui-button.veui-disabled[ui],
.veui-button.veui-disabled:hover,
.veui-button.veui-disabled[ui]:hover {
  cursor: not-allowed;
  border-color: transparent;
  background-color: #eee;
  color: #b8b8b8;
}
.veui-button[ui~="link"] {
  display: inline;
  min-width: auto;
  border: none;
  padding: 0;
}
.veui-button[ui~="link"],
.veui-button[ui~="link"]:hover,
.veui-button[ui~="link"]:active,
.veui-button[ui~="link"].focus-visible {
  background-color: transparent;
}
.veui-button[ui~="link"].veui-disabled,
.veui-button[ui~="link"].veui-disabled:hover {
  background-color: transparent;
}
.veui-button-loading,
.veui-button-loading[ui] {
  cursor: default;
  pointer-events: none;
}
.veui-button .veui-icon {
  max-width: 1em;
}
.veui-button .veui-icon + .veui-button-loading-text {
  margin-left: 5px;
}
.veui-button > .veui-icon {
  vertical-align: top;
  margin-top: calc(17px - 0.5em);
}
.veui-button-loading-text {
  vertical-align: top;
}
[ui~="round"] > .veui-button-loading-text,
[ui~="square"] > .veui-button-loading-text {
  display: none;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-tooltip {
  position: relative;
  padding: 7.5px 10px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  line-height: 1.5;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.veui-tooltip-box-transparent {
  pointer-events: none;
}
.veui-tooltip::before,
.veui-tooltip::after {
  content: "";
  color: rgba(51, 51, 51, 0.8);
  transform-origin: 50% 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom-color: currentColor;
  margin-left: -4px;
  margin-top: -8px;
}
.veui-tooltip::before {
  display: none;
}
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip {
  margin-top: 8px;
}
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip::before,
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip::after {
  top: 0;
}
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip::before {
  transform: scale(1.3);
}
.tether-element-attached-right.tether-target-attached-left .veui-tooltip {
  margin-right: 8px;
}
.tether-element-attached-right.tether-target-attached-left .veui-tooltip::before,
.tether-element-attached-right.tether-target-attached-left .veui-tooltip::after {
  right: -4px;
  left: auto;
  transform: scale(1.1) rotate(90deg);
}
.tether-element-attached-right.tether-target-attached-left .veui-tooltip::before {
  transform: scale(1.3) rotate(90deg);
}
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip {
  margin-bottom: 8px;
}
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip::before,
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip::after {
  bottom: 0;
  top: auto;
  transform: scale(1.1) rotate(180deg);
}
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip::before {
  transform: scale(1.3) rotate(180deg);
}
.tether-element-attached-left.tether-target-attached-right .veui-tooltip {
  margin-left: 8px;
}
.tether-element-attached-left.tether-target-attached-right .veui-tooltip::before,
.tether-element-attached-left.tether-target-attached-right .veui-tooltip::after {
  left: 0;
  transform: scale(1.1) rotate(270deg);
}
.tether-element-attached-left.tether-target-attached-right .veui-tooltip::before {
  transform: scale(1.3) rotate(270deg);
}
.tether-element-attached-top.tether-target-attached-top .veui-tooltip::before,
.tether-element-attached-top.tether-target-attached-top .veui-tooltip::after {
  top: 14px;
}
.tether-element-attached-right.tether-target-attached-right .veui-tooltip::before,
.tether-element-attached-right.tether-target-attached-right .veui-tooltip::after {
  right: 14px;
  left: auto;
}
.tether-element-attached-bottom.tether-target-attached-bottom .veui-tooltip::before,
.tether-element-attached-bottom.tether-target-attached-bottom .veui-tooltip::after {
  top: auto;
  bottom: 14px;
}
.tether-element-attached-left.tether-target-attached-left .veui-tooltip::before,
.tether-element-attached-left.tether-target-attached-left .veui-tooltip::after {
  left: 14px;
}
.veui-tooltip[ui~="alt"] {
  background-color: #fff;
  color: #666;
}
.veui-tooltip[ui~="alt"]::before {
  display: block;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.veui-tooltip[ui~="alt"]::after {
  color: #fff;
}
.veui-tooltip[ui~="small"] {
  font-size: 12px;
}
.veui-tooltip[ui~="large"] {
  font-size: 16px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-uploader {
  width: 400px;
  overflow: hidden;
}
.veui-uploader-button-container {
  position: relative;
  margin-bottom: 12px;
  overflow: hidden;
}
.veui-uploader-button-container .veui-uploader-tip,
.veui-uploader-button-container .veui-uploader-error {
  margin-top: 8px;
}
.veui-uploader-input-label {
  float: left;
  color: #333;
  cursor: pointer;
  margin: 0 1em 8px 0;
}
.veui-uploader-input-label-icon {
  margin-right: 5px;
}
.veui-uploader .veui-uploader-input-label-disabled,
.veui-uploader .veui-button.veui-uploader-input-label-disabled {
  cursor: not-allowed;
  border-color: transparent;
  background-color: #eee;
  color: #999;
  box-shadow: none;
}
.veui-uploader .veui-uploader-input-label-disabled:hover,
.veui-uploader .veui-button.veui-uploader-input-label-disabled:hover {
  border-color: transparent;
  background-color: #eee;
  color: #999;
  box-shadow: none;
}
.veui-uploader-input-label-image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.veui-uploader-input-label-image .veui-icon {
  font-size: 50px;
  color: #666;
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 50%;
  left: auto;
  transform: translate(50%, 50%);
}
.veui-uploader-input-label-image:hover {
  background: #f7f7f7;
}
.veui-uploader-input-label-image:active {
  background: #e7e7e7;
}
.veui-uploader-list,
.veui-uploader-list-image {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
.veui-uploader-list li,
.veui-uploader-list-image li {
  margin: 0 10px 5px 0;
  position: relative;
  transition: transform 0.2s;
}
.veui-uploader-list img,
.veui-uploader-list-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 50%;
  left: auto;
  transform: translate(50%, 50%);
}
.veui-uploader-list-status,
.veui-uploader-list-image-status {
  line-height: 1.2;
}
.veui-uploader-list-status > span,
.veui-uploader-list-image-status > span {
  display: inline-block;
  vertical-align: middle;
  word-break: break-all;
}
.veui-uploader-list-status::after,
.veui-uploader-list-image-status::after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.veui-uploader-list-success,
.veui-uploader-list-image-success {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 9px 4px;
  background-color: #fff;
  color: #5bc49f;
  cursor: pointer;
}
.veui-uploader-list {
  width: 300px;
}
.veui-uploader-list-container {
  position: relative;
  padding: 4px;
  width: 300px;
  color: #666;
  transition: background-color 0.2s;
}
.veui-uploader-list-container:hover {
  background-color: #f7f7f7;
}
.veui-uploader-list-container:hover .veui-button[ui~="link"] {
  background-color: #f7f7f7;
}
.veui-uploader-list-container:hover .veui-uploader-button-remove {
  opacity: 1;
}
.veui-uploader-list-name {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: calc(100% - 3em);
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}
.veui-uploader-list-name-success {
  width: calc(100% - 9em);
}
.veui-uploader-list-name-failure {
  width: calc(100% - 11em);
}
.veui-uploader-list-status {
  display: inline-block;
  width: calc(100% - 3em);
  height: 100%;
}
.veui-uploader-list-success .veui-icon {
  position: relative;
  top: 0;
}
.veui-uploader-list-icon {
  width: 12px;
  height: 12px;
  margin: 4px 5px 0 0;
  vertical-align: top;
}
.veui-uploader-list .veui-button {
  float: right;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
}
.veui-uploader-list .veui-button.veui-uploader-list-retry {
  float: none;
  margin-left: 10px;
  color: #333;
}
.veui-uploader-list .veui-button.veui-uploader-list-retry .veui-icon {
  margin: 4px 6px 0 0;
  font-size: 12px;
}
.veui-uploader-list .veui-uploader-progress {
  display: inline-block;
  width: calc(100% - 6em);
  height: 20px;
  vertical-align: middle;
}
.veui-uploader-list-image {
  float: left;
}
.veui-uploader-list-image-container {
  overflow: hidden;
  width: 140px;
  height: 140px;
  padding: 0;
  border: 1px solid #dbdbdb;
  text-align: center;
  position: relative;
}
.veui-uploader-list-image-container .veui-button[ui~="operation"] {
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% - 35px);
  width: 70px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}
.veui-uploader-list-image-container label.veui-button {
  cursor: pointer;
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 50%;
  left: auto;
  transform: translate(50%, 50%);
  width: 88px;
  height: 28px;
  line-height: 26px;
  padding: 0;
}
.veui-uploader-list-image-container:hover .veui-uploader-list-image-mask {
  opacity: 1;
}
.veui-uploader-list-image-mask {
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.veui-uploader-list-image-mask-failure {
  background-color: none;
}
.veui-uploader-list-image-mask .veui-button {
  padding: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
}
.veui-uploader-list-image-mask .veui-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.veui-uploader-list-image-mask .veui-button:hover,
.veui-uploader-list-image-mask .veui-button.active {
  color: #fff;
}
.veui-button.veui-uploader-list-image-mask-remove {
  width: 24px;
  height: 24px;
  line-height: 24px;
  top: 0;
  right: 0;
  left: auto;
  overflow: hidden;
}
.veui-button.veui-uploader-list-image-mask-remove .veui-icon {
  margin-top: 4px;
}
.veui-uploader-list-image-mask .veui-button.veui-uploader-input-label-disabled {
  background: none;
}
.veui-uploader-list-image-mask .veui-button.veui-uploader-input-label-disabled:hover {
  background: none;
}
.veui-uploader-list-image-status {
  margin-top: 10%;
  height: 40%;
}
.veui-uploader-list-image-status > span {
  max-width: 90%;
}
.veui-uploader-list-image-success {
  padding: 0;
  line-height: 138px;
}
.veui-uploader-list-image-success span {
  display: block;
}
.veui-uploader-list-image-success .veui-icon {
  font-size: 16px;
  vertical-align: text-bottom;
  margin-right: 5px;
}
.veui-uploader-list-image-mask-remove.veui-uploader-list-image-mask-remove-failure {
  position: absolute;
  display: none;
}
.veui-uploader-list-image-container:hover .veui-uploader-list-image-mask-remove-failure {
  display: inline;
}
.veui-uploader-list-image .veui-uploader-progress-bar,
.veui-uploader-list-image .veui-uploader-progress-bar-full {
  left: calc(50% - 35px);
  max-width: 70px;
}
.veui-uploader-error {
  display: inline-block;
}
.veui-uploader-error .veui-icon {
  vertical-align: -2px;
  margin-right: 7px;
}
.veui-uploader-tip {
  color: #999;
  display: inline-block;
}
.veui-uploader-tip + .veui-uploader-error {
  display: block;
  clear: both;
  font-size: 12px;
}
.veui-uploader-error,
.veui-uploader-failure {
  color: #ff5b5b;
}
.veui-uploader-success {
  color: #5bc49f;
}
.veui-uploader-hide {
  display: none;
}
.veui-uploader[ui~="horizontal"] {
  width: 100%;
}
.veui-uploader[ui~="horizontal"] .veui-uploader-list li,
.veui-uploader[ui~="horizontal"] .veui-uploader-list-image li {
  display: inline-block;
  margin-right: 10px;
}
.veui-uploader .veui-uploader-button-remove {
  float: right;
  margin-right: 4px;
  color: #666;
  opacity: 0;
  height: 20px;
  line-height: 20px;
  transition: opacity 0.2s;
}
.veui-uploader .veui-uploader-button-remove .veui-icon {
  font-size: 10px;
  margin-top: 5px;
}
.veui-uploader-list-enter,
.veui-uploader-list-leave-to {
  opacity: 0;
}
.veui-uploader .veui-uploader-list-leave-active {
  position: absolute;
}
.veui-uploader-fade-leave-active {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.veui-uploader-progress {
  display: block;
  position: relative;
  line-height: 20px;
}
.veui-uploader-progress-bar,
.veui-uploader-progress-bar-full {
  position: absolute;
  height: 4px;
  top: calc(50% - 2px);
  width: 100%;
}
.veui-uploader-progress-bar {
  background-color: #666;
}
.veui-uploader-progress-bar-full {
  z-index: -1;
  background-color: #dbdbdb;
}

