
.one-details[data-v-1bf0130e] {
  overflow: hidden;
}
.summary[data-v-1bf0130e] {
  border: none;
  background: none;
  padding-left: 0;
  cursor: help;
  outline: none;
}
.summary[data-v-1bf0130e]:hover {
  color: #333;
}
.content[data-v-1bf0130e] {
  overflow: hidden;
  transition: height 0.3s;
}
.arrow[data-v-1bf0130e] {
  vertical-align: top;
  margin-top: 0.35em;
  transition: transform 0.3s;
}
.expanded > .summary > .arrow[data-v-1bf0130e] {
  transform: rotateZ(90deg);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-radio {
  display: inline-block;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.veui-radio input {
  position: absolute;
  opacity: 0;
}
.veui-radio .veui-icon {
  display: none;
}
.veui-radio-label,
.veui-radio-box {
  vertical-align: top;
  display: inline-block;
  transition: color 0.3s;
}
.veui-field > .veui-radio {
  line-height: 36px;
}
.veui-field > .veui-radio .veui-radio-box {
  vertical-align: text-top;
}
.veui-radio .focus-visible ~ .veui-radio-box,
.veui-radio .focus-visible ~ .veui-radio-label,
.veui-radio:hover {
  color: #333;
}
.veui-radio .focus-visible ~ .veui-radio-box {
  box-shadow: 0 0 0 2px #dbdbdb;
}
.veui-radio-box {
  position: relative;
  height: 16px;
  width: 16px;
  border: 1px solid #666;
  background-color: #fff;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 14px;
  transition: box-shadow 0.3s;
}
.veui-radio-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}
.veui-radio:hover .veui-radio-box {
  border-color: #333;
}
.veui-radio :checked + .veui-radio-box {
  border-color: #333;
}
.veui-radio :checked + .veui-radio-box::before {
  transform: translate(-50%, -50%) scale(0.5);
}
.veui-radio.veui-disabled {
  cursor: not-allowed;
}
.veui-radio.veui-disabled .veui-radio-label {
  color: #999;
}
.veui-radio :disabled + .veui-radio-box {
  border-color: #dbdbdb;
  background-color: #eee;
}
.veui-radio :disabled + .veui-radio-box::before {
  background-color: #dbdbdb;
}
.veui-radio[ui~="small"] {
  font-size: 12px;
  line-height: 12px;
}
.veui-field[ui~="small"] > .veui-radio[ui~="small"] {
  line-height: 32px;
}
.veui-field[ui~="small"] > .veui-radio[ui~="small"] .veui-radio-box {
  vertical-align: -2px;
}
.veui-radio[ui~="small"] .veui-radio-box {
  margin-right: 6px;
  font-size: 12px;
  height: 12px;
  width: 12px;
}
.veui-radio[ui~="small"] .veui-radio-box::before {
  width: 12px;
  height: 12px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-button {
  padding: 0 20px;
  user-select: none;
  vertical-align: middle;
  transition-property: border-color, background-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #666;
  height: 36px;
  line-height: 34px;
}
.veui-button:hover,
.veui-button:active {
  color: #333;
}
.veui-button:hover {
  background-color: #f7f7f7;
}
.veui-button:active {
  background-color: #e7e7e7;
}
.veui-button:focus {
  outline: none;
}
.veui-button.focus-visible {
  color: #3998fc;
}
.veui-button[ui~="primary"] {
  border-color: transparent;
  background-color: #3998fc;
  color: #fff;
}
.veui-button[ui~="primary"]:hover,
.veui-button[ui~="primary"].focus-visible {
  background-color: #3389e3;
}
.veui-button[ui~="primary"]:active {
  background-color: #2e7aca;
}
.veui-button[ui~="alt"] {
  border-color: transparent;
  background-color: #eee;
}
.veui-button[ui~="alt"]:hover {
  background-color: #e7e7e7;
}
.veui-button[ui~="alt"]:active {
  background-color: #dbdbdb;
}
.veui-button[ui~="alt"].focus-visible {
  color: #3998fc;
}
.veui-button[ui~="large"] {
  line-height: 42px;
  font-size: 16px;
  height: 42px;
  line-height: 40px;
}
.veui-button[ui~="large"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(20px - 0.5em);
}
.veui-button[ui~="small"] {
  line-height: 32px;
  font-size: 12px;
  height: 32px;
  line-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="small"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(15px - 0.5em);
}
.veui-button[ui~="tiny"] {
  line-height: 28px;
  font-size: 12px;
  height: 28px;
  line-height: 26px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="tiny"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(13px - 0.5em);
}
.veui-button[ui~="micro"] {
  min-width: auto;
  line-height: 22px;
  height: 22px;
  line-height: 20px;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="micro"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(10px - 0.5em);
}
.veui-button[ui~="round"] {
  border-radius: 50%;
}
.veui-button[ui~="round"],
.veui-button[ui~="square"] {
  width: 36px;
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.veui-button[ui~="round"][ui~="large"],
.veui-button[ui~="square"][ui~="large"] {
  width: 42px;
}
.veui-button[ui~="round"][ui~="small"],
.veui-button[ui~="square"][ui~="small"] {
  width: 32px;
}
.veui-button[ui~="round"][ui~="tiny"],
.veui-button[ui~="square"][ui~="tiny"] {
  width: 28px;
}
.veui-button[ui~="round"][ui~="micro"],
.veui-button[ui~="square"][ui~="micro"] {
  width: 22px;
}
.veui-button.veui-disabled,
.veui-button.veui-disabled[ui],
.veui-button.veui-disabled:hover,
.veui-button.veui-disabled[ui]:hover {
  cursor: not-allowed;
  border-color: transparent;
  background-color: #eee;
  color: #b8b8b8;
}
.veui-button[ui~="link"] {
  display: inline;
  min-width: auto;
  border: none;
  padding: 0;
}
.veui-button[ui~="link"],
.veui-button[ui~="link"]:hover,
.veui-button[ui~="link"]:active,
.veui-button[ui~="link"].focus-visible {
  background-color: transparent;
}
.veui-button[ui~="link"].veui-disabled,
.veui-button[ui~="link"].veui-disabled:hover {
  background-color: transparent;
}
.veui-button-loading,
.veui-button-loading[ui] {
  cursor: default;
  pointer-events: none;
}
.veui-button .veui-icon {
  max-width: 1em;
}
.veui-button .veui-icon + .veui-button-loading-text {
  margin-left: 5px;
}
.veui-button > .veui-icon {
  vertical-align: top;
  margin-top: calc(17px - 0.5em);
}
.veui-button-loading-text {
  vertical-align: top;
}
[ui~="round"] > .veui-button-loading-text,
[ui~="square"] > .veui-button-loading-text {
  display: none;
}


.veui-radio[data-v-886e3bbc] {
  margin-right: 20px;
}
section[data-v-886e3bbc] {
  margin-bottom: 20px;
}


.veui-radio[data-v-4b0b1344] {
  margin-right: 20px;
}


.one-demo[data-v-60514566] {
  overflow: hidden;
}
.arrow[data-v-60514566] {
  transition: transform 0.3s;
  vertical-align: -2px;
  transform: rotateZ(90deg);
}
.one-demo.expanded .arrow[data-v-60514566] {
  transform: rotateZ(270deg);
}
.demo[data-v-60514566] {
  border: 1px solid #eee;
  padding: 30px;
}
.desc[data-v-60514566] {
  border: 1px solid #eee;
  padding: 18px 20px;
  background-color: #fcfcfc;
}
.source[data-v-60514566] {
  transition: height 0.3s;
}
.source[data-v-60514566] pre {
  margin-top: 0;
  margin-bottom: 0;
}
.desc[data-v-60514566],
.source[data-v-60514566] pre,
.toggle[data-v-60514566] {
  margin-top: -1px;
}
.toggle[data-v-60514566] {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  transition: background-color 0.3s;
  outline: none;
}
.toggle[data-v-60514566]:hover,
.toggle.focus-visible[data-v-60514566] {
  background-color: #fafafa;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs[data-v-59a39057] {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment[data-v-59a39057],
.hljs-quote[data-v-59a39057] {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag[data-v-59a39057],
.hljs-keyword[data-v-59a39057],
.hljs-formula[data-v-59a39057] {
  color: #c678dd;
}
.hljs-section[data-v-59a39057],
.hljs-name[data-v-59a39057],
.hljs-selector-tag[data-v-59a39057],
.hljs-deletion[data-v-59a39057],
.hljs-subst[data-v-59a39057] {
  color: #e06c75;
}
.hljs-literal[data-v-59a39057] {
  color: #56b6c2;
}
.hljs-string[data-v-59a39057],
.hljs-regexp[data-v-59a39057],
.hljs-addition[data-v-59a39057],
.hljs-attribute[data-v-59a39057],
.hljs-meta-string[data-v-59a39057] {
  color: #98c379;
}
.hljs-built_in[data-v-59a39057],
.hljs-class .hljs-title[data-v-59a39057] {
  color: #e6c07b;
}
.hljs-attr[data-v-59a39057],
.hljs-variable[data-v-59a39057],
.hljs-template-variable[data-v-59a39057],
.hljs-type[data-v-59a39057],
.hljs-selector-class[data-v-59a39057],
.hljs-selector-attr[data-v-59a39057],
.hljs-selector-pseudo[data-v-59a39057],
.hljs-number[data-v-59a39057] {
  color: #d19a66;
}
.hljs-symbol[data-v-59a39057],
.hljs-bullet[data-v-59a39057],
.hljs-link[data-v-59a39057],
.hljs-meta[data-v-59a39057],
.hljs-selector-id[data-v-59a39057],
.hljs-title[data-v-59a39057] {
  color: #61aeee;
}
.hljs-emphasis[data-v-59a39057] {
  font-style: italic;
}
.hljs-strong[data-v-59a39057] {
  font-weight: bold;
}
.hljs-link[data-v-59a39057] {
  text-decoration: underline;
}
.post[data-v-59a39057] {
  padding: 45px 60px;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  font-weight: 400;
}
.post-layout .post[data-v-59a39057] {
  min-height: 100%;
  margin-bottom: -192px;
}
.post-layout .post[data-v-59a39057]::after {
  content: "";
  display: block;
  height: 192px;
}
.post-layout.no-links .post[data-v-59a39057] {
  margin-bottom: -58px;
}
.no-links .post[data-v-59a39057]::after {
  height: 58px;
}
.post h1[data-v-59a39057] {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 36px;
}
.post h1 small[data-v-59a39057] {
  vertical-align: 0.1em;
  color: #999;
}
.post h2[data-v-59a39057] {
  margin-top: 1.3em;
  margin-bottom: 1.2em;
  font-size: 30px;
}
.post h2[data-v-59a39057]::before {
  content: "#";
  margin-right: 5px;
  color: #ccc;
}
.post h2 + h3[data-v-59a39057] {
  margin-top: 2em;
}
.post h3[data-v-59a39057] {
  margin-top: 1.25em;
  margin-bottom: 1.15em;
  font-size: 24px;
}
.post h4[data-v-59a39057] {
  margin-top: 1.15em;
  margin-bottom: 1.1em;
  font-size: 18px;
}
.post h5[data-v-59a39057] {
  margin-top: 1.05em;
  margin-bottom: 1.05em;
  font-size: 14px;
}
.post h6[data-v-59a39057] {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
}
.post h1[data-v-59a39057],
.post h2[data-v-59a39057],
.post h3[data-v-59a39057] {
  font-weight: 500;
  clear: both;
}
.post h1[data-v-59a39057],
.post h2[data-v-59a39057],
.post h3[data-v-59a39057],
.post h4[data-v-59a39057],
.post h5[data-v-59a39057],
.post h6[data-v-59a39057] {
  color: #333;
  line-height: 1;
}
.post br[data-v-59a39057] {
  clear: both;
}
.post p[data-v-59a39057] {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.post ul[data-v-59a39057],
.post ol[data-v-59a39057] {
  padding-left: 1.5em;
}
.post blockquote[data-v-59a39057] {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 5px solid #f1f1f1;
  color: #999;
}
.post table[data-v-59a39057] {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
  border-style: none solid;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.post th[data-v-59a39057],
.post td[data-v-59a39057] {
  min-width: 90px;
  padding: 7px 14px;
  border: 1px solid #f1f1f1;
  border-style: solid none;
  text-align: left;
}
.post th[data-v-59a39057] > :first-child,
.post td[data-v-59a39057] > :first-child {
  margin-top: 5px;
}
.post th[data-v-59a39057] > :last-child,
.post td[data-v-59a39057] > :last-child {
  margin-bottom: 5px;
}
.post th pre[data-v-59a39057],
.post td pre[data-v-59a39057] {
  padding: 10px 15px;
}
.post th table[data-v-59a39057],
.post td table[data-v-59a39057] {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.post td[data-v-59a39057]:first-child {
  white-space: nowrap;
}
.post a[data-v-59a39057]:link:not([class^="veui-"]),
.post a[data-v-59a39057]:visited:not([class^="veui-"]) {
  text-decoration: none;
  color: #3998fc;
  transition: color 0.2s;
}
.post a[data-v-59a39057]:link:not([class^="veui-"]):hover,
.post a[data-v-59a39057]:visited:not([class^="veui-"]):hover {
  color: #3389e3;
}
.post a[data-v-59a39057]:link:not([class^="veui-"]):active,
.post a[data-v-59a39057]:visited:not([class^="veui-"]):active {
  color: #2e7aca;
}
.post code[data-v-59a39057] {
  padding: 2px 4px;
  background-color: rgba(0,0,0,0.024);
  font-size: 90%;
}
.post hr[data-v-59a39057] {
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background-color: #eff0f1;
  border: 0;
  clear: both;
}
.post figure[data-v-59a39057] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post figure + h1[data-v-59a39057],
.post figure + h2[data-v-59a39057],
.post figure + h3[data-v-59a39057],
.post figure + h4[data-v-59a39057],
.post figure + h5[data-v-59a39057],
.post figure + h6[data-v-59a39057] {
  margin-top: 0;
}
.post figure img[data-v-59a39057] {
  display: block;
  margin: auto;
}
.post figure .preview[data-v-59a39057] {
  padding: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  transition: box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
}
.post figure .preview[data-v-59a39057]:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.post figure.hero[data-v-59a39057] {
  width: 100%;
}
.post figcaption[data-v-59a39057] {
  margin-top: 10px;
  font-size: 12px;
}
.post figcaption p[data-v-59a39057] {
  margin: 0;
  line-height: 20px;
}
.post figcaption .caption[data-v-59a39057] {
  font-weight: 500;
}
.post figcaption .desc[data-v-59a39057] {
  color: #999;
}
.post .comparison[data-v-59a39057] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post .comparison figure[data-v-59a39057] {
  width: calc(50% - 5px);
  margin: 0;
}
.post .comparison .good[data-v-59a39057] {
  float: left;
}
.post .comparison .bad[data-v-59a39057] {
  float: right;
}
.post .comparison .bad .caption[data-v-59a39057] {
  color: #ff5b5b;
}
.post img[data-v-59a39057] {
  max-width: 100%;
  max-height: 100%;
}
.post pre[data-v-59a39057] {
  border: 1px solid #eee;
  padding: 30px;
  background-color: #f9f9f9;
}
.post pre code[data-v-59a39057] {
  background-color: transparent;
  padding: 0;
}
.post var[data-v-59a39057] {
  font-family: "PT Serif", Georgia, serif;
}
.post kbd[data-v-59a39057] {
  display: inline-block;
  padding: 3px 5px;
  font-size: 90%;
  line-height: 10px;
  color: #444d56;
  vertical-align: 1px;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.post .custom-block[data-v-59a39057] {
  border: 1px solid;
  margin: 1em 0;
  padding: 0.75em 1em;
}
.post .custom-block[data-v-59a39057] > :first-child {
  margin-top: 0;
}
.post .custom-block[data-v-59a39057] > :last-child {
  margin-bottom: 0;
}
.post .alert[data-v-59a39057],
.post .warning[data-v-59a39057],
.post .tip[data-v-59a39057] {
  font-size: 13px;
}
.post .alert[data-v-59a39057] {
  border-color: #fee;
  background-color: #fff6f6;
}
.post .warning[data-v-59a39057] {
  border-color: #fef4e6;
  background-color: #fef9f2;
}
.post .tip[data-v-59a39057] {
  border-color: #d8ebff;
  background-color: #ebf5ff;
}
.post .badges[data-v-59a39057] {
  border: none;
  padding: 0;
}
.post .badges code[data-v-59a39057] {
  padding: 2px 3px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: 80%;
}
.post .oss-badges[data-v-59a39057] {
  border: none;
  padding: 0;
}
.post .oss-badges a[data-v-59a39057] {
  margin-right: 10px;
}
.post .one-demo[data-v-59a39057] {
  margin: 1em 0 1.25em;
}

