/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-checkbox {
  position: relative;
  display: inline-block;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.veui-checkbox input {
  position: absolute;
  opacity: 0;
}
.veui-checkbox-label,
.veui-checkbox-box {
  vertical-align: top;
  display: inline-block;
  transition: color 0.3s;
}
.veui-field > .veui-checkbox {
  line-height: 36px;
}
.veui-field > .veui-checkbox .veui-checkbox-box {
  vertical-align: text-top;
}
.veui-checkbox .focus-visible ~ .veui-checkbox-box,
.veui-checkbox .focus-visible ~ .veui-checkbox-label,
.veui-checkbox:hover {
  color: #333;
}
.veui-checkbox .focus-visible ~ .veui-checkbox-box {
  box-shadow: 0 0 0 2px #dbdbdb;
}
.veui-checkbox-box {
  position: relative;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border: 1px solid #666;
  background-color: #fff;
  font-size: 16px;
  transition: box-shadow 0.3s;
}
.veui-checkbox-box .veui-icon {
  color: #333;
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s, opacity 0.3s;
}
.veui-checkbox-icon-enter,
.veui-checkbox-icon-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}
.veui-checkbox:hover .veui-checkbox-box {
  border-color: #333;
}
.veui-checkbox :checked + .veui-checkbox-box,
.veui-checkbox :indeterminate + .veui-checkbox-box {
  border-color: #333;
}
.veui-checkbox.veui-disabled {
  cursor: not-allowed;
}
.veui-checkbox.veui-disabled .veui-checkbox-label {
  color: #999;
}
.veui-checkbox.veui-disabled .veui-checkbox-box {
  border-color: #dbdbdb;
  background-color: #eee;
}
.veui-checkbox.veui-disabled .veui-checkbox-box .veui-icon {
  color: #dbdbdb;
}
.veui-checkbox[ui~="small"] {
  font-size: 12px;
  line-height: 12px;
}
.veui-field[ui~="small"] > .veui-checkbox[ui~="small"] {
  line-height: 32px;
}
.veui-field[ui~="small"] > .veui-checkbox[ui~="small"] .veui-checkbox-box {
  vertical-align: -2px;
}
.veui-checkbox[ui~="small"] .veui-checkbox-box {
  margin-right: 6px;
  height: 12px;
  width: 12px;
  font-size: 12px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-radio {
  display: inline-block;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.veui-radio input {
  position: absolute;
  opacity: 0;
}
.veui-radio .veui-icon {
  display: none;
}
.veui-radio-label,
.veui-radio-box {
  vertical-align: top;
  display: inline-block;
  transition: color 0.3s;
}
.veui-field > .veui-radio {
  line-height: 36px;
}
.veui-field > .veui-radio .veui-radio-box {
  vertical-align: text-top;
}
.veui-radio .focus-visible ~ .veui-radio-box,
.veui-radio .focus-visible ~ .veui-radio-label,
.veui-radio:hover {
  color: #333;
}
.veui-radio .focus-visible ~ .veui-radio-box {
  box-shadow: 0 0 0 2px #dbdbdb;
}
.veui-radio-box {
  position: relative;
  height: 16px;
  width: 16px;
  border: 1px solid #666;
  background-color: #fff;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 14px;
  transition: box-shadow 0.3s;
}
.veui-radio-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}
.veui-radio:hover .veui-radio-box {
  border-color: #333;
}
.veui-radio :checked + .veui-radio-box {
  border-color: #333;
}
.veui-radio :checked + .veui-radio-box::before {
  transform: translate(-50%, -50%) scale(0.5);
}
.veui-radio.veui-disabled {
  cursor: not-allowed;
}
.veui-radio.veui-disabled .veui-radio-label {
  color: #999;
}
.veui-radio :disabled + .veui-radio-box {
  border-color: #dbdbdb;
  background-color: #eee;
}
.veui-radio :disabled + .veui-radio-box::before {
  background-color: #dbdbdb;
}
.veui-radio[ui~="small"] {
  font-size: 12px;
  line-height: 12px;
}
.veui-field[ui~="small"] > .veui-radio[ui~="small"] {
  line-height: 32px;
}
.veui-field[ui~="small"] > .veui-radio[ui~="small"] .veui-radio-box {
  vertical-align: -2px;
}
.veui-radio[ui~="small"] .veui-radio-box {
  margin-right: 6px;
  font-size: 12px;
  height: 12px;
  width: 12px;
}
.veui-radio[ui~="small"] .veui-radio-box::before {
  width: 12px;
  height: 12px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-button {
  padding: 0 20px;
  user-select: none;
  vertical-align: middle;
  transition-property: border-color, background-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #666;
  height: 36px;
  line-height: 34px;
}
.veui-button:hover,
.veui-button:active {
  color: #333;
}
.veui-button:hover {
  background-color: #f7f7f7;
}
.veui-button:active {
  background-color: #e7e7e7;
}
.veui-button:focus {
  outline: none;
}
.veui-button.focus-visible {
  color: #3998fc;
}
.veui-button[ui~="primary"] {
  border-color: transparent;
  background-color: #3998fc;
  color: #fff;
}
.veui-button[ui~="primary"]:hover,
.veui-button[ui~="primary"].focus-visible {
  background-color: #3389e3;
}
.veui-button[ui~="primary"]:active {
  background-color: #2e7aca;
}
.veui-button[ui~="alt"] {
  border-color: transparent;
  background-color: #eee;
}
.veui-button[ui~="alt"]:hover {
  background-color: #e7e7e7;
}
.veui-button[ui~="alt"]:active {
  background-color: #dbdbdb;
}
.veui-button[ui~="alt"].focus-visible {
  color: #3998fc;
}
.veui-button[ui~="large"] {
  line-height: 42px;
  font-size: 16px;
  height: 42px;
  line-height: 40px;
}
.veui-button[ui~="large"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(20px - 0.5em);
}
.veui-button[ui~="small"] {
  line-height: 32px;
  font-size: 12px;
  height: 32px;
  line-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="small"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(15px - 0.5em);
}
.veui-button[ui~="tiny"] {
  line-height: 28px;
  font-size: 12px;
  height: 28px;
  line-height: 26px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="tiny"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(13px - 0.5em);
}
.veui-button[ui~="micro"] {
  min-width: auto;
  line-height: 22px;
  height: 22px;
  line-height: 20px;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="micro"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(10px - 0.5em);
}
.veui-button[ui~="round"] {
  border-radius: 50%;
}
.veui-button[ui~="round"],
.veui-button[ui~="square"] {
  width: 36px;
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.veui-button[ui~="round"][ui~="large"],
.veui-button[ui~="square"][ui~="large"] {
  width: 42px;
}
.veui-button[ui~="round"][ui~="small"],
.veui-button[ui~="square"][ui~="small"] {
  width: 32px;
}
.veui-button[ui~="round"][ui~="tiny"],
.veui-button[ui~="square"][ui~="tiny"] {
  width: 28px;
}
.veui-button[ui~="round"][ui~="micro"],
.veui-button[ui~="square"][ui~="micro"] {
  width: 22px;
}
.veui-button.veui-disabled,
.veui-button.veui-disabled[ui],
.veui-button.veui-disabled:hover,
.veui-button.veui-disabled[ui]:hover {
  cursor: not-allowed;
  border-color: transparent;
  background-color: #eee;
  color: #b8b8b8;
}
.veui-button[ui~="link"] {
  display: inline;
  min-width: auto;
  border: none;
  padding: 0;
}
.veui-button[ui~="link"],
.veui-button[ui~="link"]:hover,
.veui-button[ui~="link"]:active,
.veui-button[ui~="link"].focus-visible {
  background-color: transparent;
}
.veui-button[ui~="link"].veui-disabled,
.veui-button[ui~="link"].veui-disabled:hover {
  background-color: transparent;
}
.veui-button-loading,
.veui-button-loading[ui] {
  cursor: default;
  pointer-events: none;
}
.veui-button .veui-icon {
  max-width: 1em;
}
.veui-button .veui-icon + .veui-button-loading-text {
  margin-left: 5px;
}
.veui-button > .veui-icon {
  vertical-align: top;
  margin-top: calc(17px - 0.5em);
}
.veui-button-loading-text {
  vertical-align: top;
}
[ui~="round"] > .veui-button-loading-text,
[ui~="square"] > .veui-button-loading-text {
  display: none;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-sorter {
  color: #666;
  vertical-align: middle;
  cursor: pointer;
}
.veui-sorter-unordered:hover,
.veui-sorter-active {
  color: #3998fc;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: #666;
}
.veui-table-cell {
  display: inline-block;
  line-height: 2;
  vertical-align: middle;
}
.veui-table th,
.veui-table td {
  height: 54px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: left;
  white-space: nowrap;
}
.veui-table th {
  font-weight: 500;
}
.veui-table td {
  border: 1px solid #eee;
  border-style: solid none;
}
.veui-table tfoot th {
  border-top: none;
}
td.veui-table-no-data {
  height: 300px;
  text-align: center;
}
.veui-table .veui-table-selected-row td {
  background-color: #fcfcfc;
}
.veui-table tr:hover td {
  background-color: #f7f7f7;
}
.veui-table tr:hover .veui-table-no-data {
  background-color: transparent;
}
.veui-table .veui-button + .veui-button,
.veui-table .veui-link + .veui-button,
.veui-table .veui-button + .veui-link,
.veui-table .veui-link + .veui-link {
  margin-left: 30px;
}
.veui-table-header {
  display: inline-block;
  vertical-align: middle;
}
.veui-table .veui-table-column-center {
  text-align: center;
}
.veui-table .veui-table-column-right {
  text-align: right;
  padding-right: 38px;
}
.veui-table .veui-sorter {
  margin-left: 5px;
  font-size: 12px;
}
.veui-table[ui~="slim"] th,
.veui-table[ui~="slim"] td {
  height: 44px;
}
.veui-table[ui~="alt"] thead th {
  background-color: #f7f7f7;
}
.veui-table[ui~="bordered"] td {
  border-style: solid;
}
.veui-table[ui~="bordered"] td:first-child {
  border-left: none;
}
.veui-table[ui~="bordered"] td:last-child {
  border-right: none;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-tooltip {
  position: relative;
  padding: 7.5px 10px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  line-height: 1.5;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.veui-tooltip-box-transparent {
  pointer-events: none;
}
.veui-tooltip::before,
.veui-tooltip::after {
  content: "";
  color: rgba(51, 51, 51, 0.8);
  transform-origin: 50% 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom-color: currentColor;
  margin-left: -4px;
  margin-top: -8px;
}
.veui-tooltip::before {
  display: none;
}
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip {
  margin-top: 8px;
}
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip::before,
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip::after {
  top: 0;
}
.tether-element-attached-top.tether-target-attached-bottom .veui-tooltip::before {
  transform: scale(1.3);
}
.tether-element-attached-right.tether-target-attached-left .veui-tooltip {
  margin-right: 8px;
}
.tether-element-attached-right.tether-target-attached-left .veui-tooltip::before,
.tether-element-attached-right.tether-target-attached-left .veui-tooltip::after {
  right: -4px;
  left: auto;
  transform: scale(1.1) rotate(90deg);
}
.tether-element-attached-right.tether-target-attached-left .veui-tooltip::before {
  transform: scale(1.3) rotate(90deg);
}
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip {
  margin-bottom: 8px;
}
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip::before,
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip::after {
  bottom: 0;
  top: auto;
  transform: scale(1.1) rotate(180deg);
}
.tether-element-attached-bottom.tether-target-attached-top .veui-tooltip::before {
  transform: scale(1.3) rotate(180deg);
}
.tether-element-attached-left.tether-target-attached-right .veui-tooltip {
  margin-left: 8px;
}
.tether-element-attached-left.tether-target-attached-right .veui-tooltip::before,
.tether-element-attached-left.tether-target-attached-right .veui-tooltip::after {
  left: 0;
  transform: scale(1.1) rotate(270deg);
}
.tether-element-attached-left.tether-target-attached-right .veui-tooltip::before {
  transform: scale(1.3) rotate(270deg);
}
.tether-element-attached-top.tether-target-attached-top .veui-tooltip::before,
.tether-element-attached-top.tether-target-attached-top .veui-tooltip::after {
  top: 14px;
}
.tether-element-attached-right.tether-target-attached-right .veui-tooltip::before,
.tether-element-attached-right.tether-target-attached-right .veui-tooltip::after {
  right: 14px;
  left: auto;
}
.tether-element-attached-bottom.tether-target-attached-bottom .veui-tooltip::before,
.tether-element-attached-bottom.tether-target-attached-bottom .veui-tooltip::after {
  top: auto;
  bottom: 14px;
}
.tether-element-attached-left.tether-target-attached-left .veui-tooltip::before,
.tether-element-attached-left.tether-target-attached-left .veui-tooltip::after {
  left: 14px;
}
.veui-tooltip[ui~="alt"] {
  background-color: #fff;
  color: #666;
}
.veui-tooltip[ui~="alt"]::before {
  display: block;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.veui-tooltip[ui~="alt"]::after {
  color: #fff;
}
.veui-tooltip[ui~="small"] {
  font-size: 12px;
}
.veui-tooltip[ui~="large"] {
  font-size: 16px;
}

