/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-option {
  transition-property: border-color, background-color, color, opacity;transition-duration: 0.2s;height: 36px;line-height: 36px;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;display: block;width: 100%;background-color: #fff;border: none;padding: 0 10px;color: #666;text-align: left;outline: none;cursor: pointer;
}
.veui-option.focus-visible,
.veui-option:hover {
  background-color: #f7f7f7;
}
.veui-option:active {
  background-color: #e7e7e7;
}
.veui-option-selected {
  color: #333;font-weight: 500;
}
.veui-option-disabled {
  background-color: #fff;color: #999;cursor: not-allowed;
}
.veui-option-label {
  float: left;margin-right: 10px;
}
.veui-option .veui-option-checkmark {
  float: right;
  display: none;
}
[ui~="checkmark"] .veui-option-checkmark {
  display: block;
  margin-top: calc(18px - .5em);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-option-group-box .veui-option-group-options {
  border: 1px solid #e7e7e7;margin: 3px 0;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.veui-option-group-button {
  transition-property: border-color, background-color, color, opacity;transition-duration: 0.2s;height: 36px;line-height: 36px;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;display: block;width: 100%;background-color: #fff;border: none;padding: 0 10px;color: #666;text-align: left;outline: none;cursor: pointer;
}
.veui-option-group-button.focus-visible,
.veui-option-group-button:hover {
  background-color: #f7f7f7;
}
.veui-option-group-button:active {
  background-color: #e7e7e7;
}
.veui-option-group-button-selected {
  color: #333;font-weight: 500;
}
.veui-option-group-button-disabled {
  background-color: #fff;color: #999;cursor: not-allowed;
}
.veui-option-group-button-label {
  float: left;margin-right: 10px;
}
.veui-option-group-label {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.veui-option-group-label:not(.veui-option-group-button) {
  font-size: 12px;
  color: #999;
}
.veui-option-group .veui-option {
  padding-left: 20px;
}
.veui-option-group-expanded .veui-option-group-button {
  background-color: #f7f7f7;
}
.veui-option-group-expanded .veui-option-group-button:active {
  background-color: #e7e7e7;
}
.veui-option-group-unlabelled {
  border-top: 1px solid #e7e7e7;
}
.veui-option-group-unlabelled:first-child {
  border-top: none;
}
.veui-option-group-unlabelled .veui-option {
  padding-left: 10px;
}
.veui-option-group-box .veui-option-group-options {
  margin: -1px 5px;
}
.veui-option-group-expandable {
  float: right;
  margin-top: calc(18px - .5em);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-select-options {
  border: 1px solid #e7e7e7;margin: 3px 0;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.veui-select .veui-select-button {
  width: 100%;padding-right: 10px;padding-left: 10px;text-align: left;
}
.veui-select-label {
  display: inline-block;max-width: calc(100% - 24px);width: 100%;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;
}
.veui-select-icon {
  float: right;
}
.veui-select-button[ui~="primary"]:not(.veui-button-loading):disabled {
  background-color: #eee;border-color: transparent;color: #b8b8b8;
}
.veui-select-expanded .veui-select-button:not([ui~="link"]),
.veui-select-expanded .veui-select-button:not([ui~="link"]):hover,
.veui-select-expanded .veui-select-button:not([ui~="link"]).focus-visible {
  color: #333;background-color: #f7f7f7;
}
.veui-select-expanded .veui-select-button:not([ui~="link"]):active {
  background-color: #e7e7e7;
}
.veui-select-expanded .veui-select-button[ui~="primary"]:not([ui~="link"]),
.veui-select-expanded .veui-select-button[ui~="primary"]:not([ui~="link"]):hover,
.veui-select-expanded .veui-select-button[ui~="primary"]:not([ui~="link"]).focus-visible {
  background-color: #3389e3;color: #fff;
}
.veui-select-expanded .veui-select-button[ui~="primary"]:not([ui~="link"]):active {
  background-color: #2e7aca;
}
.veui-select-expanded .veui-select-button[ui~="alt"],
.veui-select-expanded .veui-select-button[ui~="alt"]:hover,
.veui-select-expanded .veui-select-button[ui~="alt"].focus-visible {
  background-color: #e7e7e7;
}
.veui-select.veui-input-invalid .veui-button.veui-select-button,
.veui-select.veui-input-invalid .veui-button.veui-select-button:hover,
.veui-select.veui-input-invalid .veui-button.veui-select-button:focus {
  border-color: #ff5b5b;
}
.veui-select {
  display: inline-block;
  min-width: 110px;
}
.veui-select-options {
  min-width: 110px;
  max-height: 280px;
  overflow-y: auto;
  background-color: #fff;
  outline: none;
}

