/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-option {
  transition-property: border-color, background-color, color, opacity;transition-duration: 0.2s;height: 36px;line-height: 36px;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;display: block;width: 100%;background-color: #fff;border: none;padding: 0 10px;color: #666;text-align: left;outline: none;cursor: pointer;
}
.veui-option.focus-visible,
.veui-option:hover {
  background-color: #f7f7f7;
}
.veui-option:active {
  background-color: #e7e7e7;
}
.veui-option-selected {
  color: #333;font-weight: 500;
}
.veui-option-disabled {
  background-color: #fff;color: #999;cursor: not-allowed;
}
.veui-option-label {
  float: left;margin-right: 10px;
}
.veui-option .veui-option-checkmark {
  float: right;
  display: none;
}
[ui~="checkmark"] .veui-option-checkmark {
  display: block;
  margin-top: calc(18px - .5em);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-option-group-box .veui-option-group-options {
  border: 1px solid #e7e7e7;margin: 3px 0;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.veui-option-group-button {
  transition-property: border-color, background-color, color, opacity;transition-duration: 0.2s;height: 36px;line-height: 36px;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;display: block;width: 100%;background-color: #fff;border: none;padding: 0 10px;color: #666;text-align: left;outline: none;cursor: pointer;
}
.veui-option-group-button.focus-visible,
.veui-option-group-button:hover {
  background-color: #f7f7f7;
}
.veui-option-group-button:active {
  background-color: #e7e7e7;
}
.veui-option-group-button-selected {
  color: #333;font-weight: 500;
}
.veui-option-group-button-disabled {
  background-color: #fff;color: #999;cursor: not-allowed;
}
.veui-option-group-button-label {
  float: left;margin-right: 10px;
}
.veui-option-group-label {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.veui-option-group-label:not(.veui-option-group-button) {
  font-size: 12px;
  color: #999;
}
.veui-option-group .veui-option {
  padding-left: 20px;
}
.veui-option-group-expanded .veui-option-group-button {
  background-color: #f7f7f7;
}
.veui-option-group-expanded .veui-option-group-button:active {
  background-color: #e7e7e7;
}
.veui-option-group-unlabelled {
  border-top: 1px solid #e7e7e7;
}
.veui-option-group-unlabelled:first-child {
  border-top: none;
}
.veui-option-group-unlabelled .veui-option {
  padding-left: 10px;
}
.veui-option-group-box .veui-option-group-options {
  margin: -1px 5px;
}
.veui-option-group-expandable {
  float: right;
  margin-top: calc(18px - .5em);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-dropdown-options {
  border: 1px solid #e7e7e7;margin: 3px 0;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.veui-dropdown .veui-dropdown-button {
  width: 100%;padding-right: 10px;padding-left: 10px;text-align: left;
}
.veui-dropdown-label {
  display: inline-block;max-width: calc(100% - 24px);width: 100%;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;
}
.veui-dropdown-icon {
  float: right;
}
.veui-dropdown-button[ui~="primary"]:not(.veui-button-loading):disabled {
  background-color: #eee;border-color: transparent;color: #b8b8b8;
}
.veui-dropdown-expanded .veui-dropdown-button:not([ui~="link"]),
.veui-dropdown-expanded .veui-dropdown-button:not([ui~="link"]):hover,
.veui-dropdown-expanded .veui-dropdown-button:not([ui~="link"]).focus-visible {
  color: #333;background-color: #f7f7f7;
}
.veui-dropdown-expanded .veui-dropdown-button:not([ui~="link"]):active {
  background-color: #e7e7e7;
}
.veui-dropdown-expanded .veui-dropdown-button[ui~="primary"]:not([ui~="link"]),
.veui-dropdown-expanded .veui-dropdown-button[ui~="primary"]:not([ui~="link"]):hover,
.veui-dropdown-expanded .veui-dropdown-button[ui~="primary"]:not([ui~="link"]).focus-visible {
  background-color: #3389e3;color: #fff;
}
.veui-dropdown-expanded .veui-dropdown-button[ui~="primary"]:not([ui~="link"]):active {
  background-color: #2e7aca;
}
.veui-dropdown-expanded .veui-dropdown-button[ui~="alt"],
.veui-dropdown-expanded .veui-dropdown-button[ui~="alt"]:hover,
.veui-dropdown-expanded .veui-dropdown-button[ui~="alt"].focus-visible {
  background-color: #e7e7e7;
}
.veui-dropdown-option {
  transition-property: border-color, background-color, color, opacity;transition-duration: 0.2s;height: 36px;line-height: 36px;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;display: block;width: 100%;background-color: #fff;border: none;padding: 0 10px;color: #666;text-align: left;outline: none;cursor: pointer;
}
.veui-dropdown-option.focus-visible,
.veui-dropdown-option:hover {
  background-color: #f7f7f7;
}
.veui-dropdown-option:active {
  background-color: #e7e7e7;
}
.veui-dropdown-option-selected {
  color: #333;font-weight: 500;
}
.veui-dropdown-option-disabled {
  background-color: #fff;color: #999;cursor: not-allowed;
}
.veui-dropdown-option-label {
  float: left;margin-right: 10px;
}
.veui-dropdown {
  display: inline-block;
  min-width: 110px;
}
.veui-dropdown-options {
  min-width: 110px;
  max-height: 280px;
  overflow-y: auto;
  background-color: #fff;
}
.veui-dropdown[ui~="link"] {
  min-width: auto;
}
.veui-dropdown[ui~="link"] .veui-dropdown-label {
  width: auto;
  max-width: none;
  margin-right: 5px;
  vertical-align: middle;
}
.veui-dropdown[ui~="link"] .veui-button {
  width: auto;
  height: auto;
  line-height: 1.5;
}
.veui-dropdown[ui~="link"] .veui-button:not(:disabled):hover,
.veui-dropdown[ui~="link"] .veui-button:not(:disabled).focus-visible {
  color: #3389e3;
}
.veui-dropdown[ui~="link"] .veui-button:not(:disabled):active {
  color: #2e7aca;
}
.veui-dropdown[ui~="link"] .veui-button > .veui-icon {
  float: none;
  margin-top: 0;
  vertical-align: middle;
}
.veui-dropdown[ui~="link"][ui~="primary"]:not(:disabled) {
  color: #3998fc;
}

