
.nuxt-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  width: 0%;
  transition: width 0.2s, opacity 0.4s;
  opacity: 1;
  background-color: #efc14e;
  z-index: 999999;
}

@media screen and (min-resolution: 2dppx) {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Arial, PingFang SC, "Microsoft YaHei", sans-serif;
  font-weight: 400;
  color: #333;
}
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
button,
input {
  font: inherit;
  color: inherit;
}
a:focus {
  outline: none;
}
main {
  line-height: 1.5;
}
menu {
  margin: 0;
  padding: 0;
}
.menu-item {
  list-style: none;
  line-height: 1;
}
.menu-link {
  display: block;
  position: relative;
  text-decoration: none;
  cursor: default;
}
a.menu-link {
  cursor: pointer;
}
.menu-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0;
  height: 2px;
  transition: width 0.2s, left 0.2s;
}
a.menu-link:focus::after,
a.menu-link:hover::after {
  width: 100%;
  left: 0;
}


.primary[data-v-16845649] {
  position: relative;
  float: left;
  width: 250px;
  height: 100%;
  padding-left: 40px;
  background-color: #1e1f24;
  transition: margin 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.primary .menu[data-v-16845649] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.primary .menu-item[data-v-16845649] {
  margin: 15px 0;
  font-size: 24px;
}
.primary .menu-link[data-v-16845649] {
  padding: 10px 0;
  color: #fff;
}
.primary .menu-link-disabled[data-v-16845649] {
  opacity: 0.3;
  pointer-events: none;
}
.primary .menu-link[data-v-16845649]::after {
  background-color: #8f8f91;
}
.primary .nuxt-link-active[data-v-16845649]::after {
  width: 100%;
  left: 0;
  background-color: #fff;
}


.toggle[data-v-f02e2568] {
  position: relative;
  width: 1.461538461538461em;
  height: 1em;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.top[data-v-f02e2568],
.middle[data-v-f02e2568],
.bottom[data-v-f02e2568] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: 0 50%;
}
.middle[data-v-f02e2568] {
  transform: translateY(calc(.5 * 1em - .5 * 2px));
}
.bottom[data-v-f02e2568] {
  transform: translateY(calc(1em - 2px));
}
.expanded .top[data-v-f02e2568] {
  transform: translateY(calc(.5 * 1em - .5 * 2px)) translateX(0.707106781186548px) rotateZ(-45deg) scaleX(0.578947368421053);
}
.expanded .bottom[data-v-f02e2568] {
  transform: translateY(calc(-.5 * 1em + .5 * 2px)) translateX(0.707106781186548px) translateY(calc(1em - 2px)) rotateZ(45deg) scaleX(0.578947368421053);
}


.one-nav[data-v-f6551a7e] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #e5e5e5;
}
.primary[data-v-f6551a7e] {
  margin-left: -250px;
}
.expanded .primary[data-v-f6551a7e] {
  margin-left: 0;
}
.secondary[data-v-f6551a7e] {
  position: relative;
  float: left;
  width: 215px;
  padding: 45px 0;
}
.secondary h2[data-v-f6551a7e] {
  position: relative;
  margin: 0 0 0 20px;
  font-size: 16px;
  font-weight: 500;
}
.secondary h2 span[data-v-f6551a7e] {
  vertical-align: middle;
}
.secondary h2 small[data-v-f6551a7e] {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  transform: scale(0.75) translateY(-3px);
  margin-left: 3px;
  opacity: 0.7;
}
.secondary h2 .github[data-v-f6551a7e] {
  position: absolute;
  top: 48px;
  left: 0;
}
.secondary h2 .github img[data-v-f6551a7e] {
  display: block;
}
.secondary .filter[data-v-f6551a7e] {
  margin-top: 70px;
  margin-left: 20px;
}
.secondary .search[data-v-f6551a7e] {
  display: block;
  width: 155px;
  height: 28px;
  padding: 0 7px;
  border: 1px solid #dbdbdb;
  outline: none;
  font-size: 12px;
  transition: all 0.2s;
}
.secondary .search.focus-visible[data-v-f6551a7e] {
  border-color: #999;
}
.secondary > .menu[data-v-f6551a7e] {
  position: relative;
  width: 100%;
  height: calc(100vh - 192px);
  margin-top: 25px;
  padding-left: 20px;
  overflow: auto;
}
.secondary .menu[data-v-f6551a7e],
.secondary .menu-item[data-v-f6551a7e],
.secondary .menu-link[data-v-f6551a7e] {
  float: left;
  clear: left;
}
.secondary .menu .menu[data-v-f6551a7e] {
  margin: 3.5px 0;
}
.secondary .menu-item[data-v-f6551a7e] {
  margin: 3.5px 0;
  font-size: 14px;
}
.secondary .menu-item .menu-item[data-v-f6551a7e] {
  font-size: 12px;
}
.secondary .menu-item .menu-item .menu-link[data-v-f6551a7e] {
  color: #333;
  font-weight: 400;
}
.secondary .menu-item .menu-item .menu-link[data-v-f6551a7e] small {
  color: #999;
  font-size: 12px;
  margin-left: 10px;
  white-space: nowrap;
}
.secondary .menu-item .menu-item .menu-link[data-v-f6551a7e]::after {
  display: block;
}
.secondary .menu-link[data-v-f6551a7e] {
  float: left;
  clear: left;
  color: #333;
  font-weight: 500;
  padding: 9px 0;
}
.secondary .menu-link-disabled[data-v-f6551a7e] {
  opacity: 0.3;
  pointer-events: none;
}
.secondary .menu-link[data-v-f6551a7e]::after {
  background-color: #999;
}
.secondary .nuxt-link-exact-active[data-v-f6551a7e]::after,
.secondary .menu-link-active[data-v-f6551a7e]::after {
  width: 100%;
  left: 0;
  background-color: #333;
}
.secondary[data-v-f6551a7e]::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 45px;
  background-color: #fff;
}
.search-result[data-v-f6551a7e] {
  position: absolute;
  margin-top: -1px;
  min-width: 155px;
  max-height: 240px;
  background-color: #fff;
  border: 1px solid #999;
  z-index: 1;
  list-style: none;
  font-size: 12px;
  overflow: auto;
}
.search-result li[data-v-f6551a7e] {
  height: 28px;
  line-height: 28px;
}
.search-result a[data-v-f6551a7e] {
  display: flex;
  text-decoration: none;
  padding: 0 7px;
  color: #666;
  transition: all 0.2s;
  white-space: nowrap;
}
.search-result a.selected[data-v-f6551a7e] {
  background-color: #e7e7e7;
  color: #333;
}
.search-result a.selected small[data-v-f6551a7e] {
  color: #666;
}
.search-result a[data-v-f6551a7e] span {
  flex-grow: 1;
}
.search-result a[data-v-f6551a7e] small {
  flex-grow: 0;
  margin-left: 10px;
  color: #999;
  white-space: nowrap;
  transition: all 0.2s;
}
.search-enter-active[data-v-f6551a7e],
.search-leave-active[data-v-f6551a7e] {
  transition: opacity 0.2s;
}
.search-enter[data-v-f6551a7e],
.search-leave-to[data-v-f6551a7e] {
  opacity: 0;
}
.toggle[data-v-f6551a7e] {
  margin-right: 15px;
  font-size: 13px;
  vertical-align: middle;
}


.one-footer[data-v-bc70ef98] {
  clear: both;
  padding: 0 60px;
}
.links[data-v-bc70ef98] {
  border-top: 1px solid #eee;
  padding: 20px 0 80px;
  overflow: hidden;
}
.empty[data-v-bc70ef98] {
  display: none;
  overflow: hidden;
}
.prev[data-v-bc70ef98],
.next[data-v-bc70ef98] {
  display: block;
  line-height: 33px;
  color: #333;
  text-decoration: none;
}
.prev[data-v-bc70ef98]:hover::before,
.next[data-v-bc70ef98]:hover::before,
.prev.focus-visible[data-v-bc70ef98]::before,
.next.focus-visible[data-v-bc70ef98]::before,
.prev[data-v-bc70ef98]:hover::after,
.next[data-v-bc70ef98]:hover::after,
.prev.focus-visible[data-v-bc70ef98]::after,
.next.focus-visible[data-v-bc70ef98]::after {
  background-color: #5b5b5b;
}
.prev[data-v-bc70ef98]:active::before,
.next[data-v-bc70ef98]:active::before,
.prev[data-v-bc70ef98]:active::after,
.next[data-v-bc70ef98]:active::after {
  background-color: #818181;
}
.prev[data-v-bc70ef98]::before,
.next[data-v-bc70ef98]::after {
  content: "";
  display: block;
  width: 23px;
  height: 33px;
  background: #333 url("/icons/angle.svg") no-repeat 50% 50%/auto 21.5px;
  transition: background-color 0.3s;
}
.prev[data-v-bc70ef98] {
  float: left;
}
.prev[data-v-bc70ef98]::before {
  float: left;
  margin-right: 15px;
  transform: rotate(180deg);
}
.next[data-v-bc70ef98] {
  float: right;
}
.next[data-v-bc70ef98]::after {
  float: right;
  margin-left: 15px;
}
.copyright[data-v-bc70ef98] {
  margin: 0;
  padding: 25px 0 20px;
  border-top: 1px solid #eee;
  line-height: 1;
  font-size: 12px;
  text-align: center;
}


.one-back-to-top[data-v-147cd5fa] {
  position: fixed;
  right: 35px;
  bottom: 35px;
  width: 43px;
  height: 43px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  opacity: 0;
  outline: none;
  box-shadow: 0 0 2px #dbdbdb;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}
.one-back-to-top[data-v-147cd5fa]:hover,
.one-back-to-top.focus-visible[data-v-147cd5fa] {
  background-color: #f7f7f7;
}
.one-back-to-top[data-v-147cd5fa]:active {
  background-color: #ececec;
}
.one-back-to-top .icon[data-v-147cd5fa] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrolled[data-v-147cd5fa] {
  opacity: 1;
}


@media screen and (min-resolution: 2dppx) {
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Arial, PingFang SC, "Microsoft YaHei", sans-serif;
  font-weight: 400;
  color: #333;
}
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
button,
input {
  font: inherit;
  color: inherit;
}
a:focus {
  outline: none;
}
main {
  line-height: 1.5;
}
menu {
  margin: 0;
  padding: 0;
}
.menu-item {
  list-style: none;
  line-height: 1;
}
.menu-link {
  display: block;
  position: relative;
  text-decoration: none;
  cursor: default;
}
a.menu-link {
  cursor: pointer;
}
.menu-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0;
  height: 2px;
  transition: width 0.2s, left 0.2s;
}
a.menu-link:focus::after,
a.menu-link:hover::after {
  width: 100%;
  left: 0;
}


main[data-v-4b036cf4] {
  height: 100%;
}
.content[data-v-4b036cf4],
.footer[data-v-4b036cf4] {
  max-width: 965px;
  min-width: 560px;
  margin-left: 215px;
  transition: margin-left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.expanded ~ .content[data-v-4b036cf4],
.expanded ~ .footer[data-v-4b036cf4] {
  margin-left: 465px;
}


.one-slim-nav[data-v-e392bad4] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-300px);
  z-index: 1;
}
.one-slim-nav.expanded[data-v-e392bad4] {
  animation: expand-nav-data-v-e392bad4 1s both;
}
.one-slim-nav.collapsed[data-v-e392bad4] {
  animation: collapse-nav-data-v-e392bad4 1s both;
}
.primary[data-v-e392bad4] {
  margin-left: 50px;
}
.handle[data-v-e392bad4] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  border-right: 1px solid #e5e5e5;
  background-color: #fff;
  transform: translateX(300px);
  transition: all 0s 0.5s;
}
.expanded .handle[data-v-e392bad4] {
  background-color: #1e1f24;
  color: #fff;
  border-color: #35363a;
  animation: expand-handle-data-v-e392bad4 1s both;
}
.collapsed .handle[data-v-e392bad4] {
  animation: collapse-handle-data-v-e392bad4 1s both;
}
.handle .title[data-v-e392bad4] {
  position: absolute;
  top: 35px;
  right: 100%;
  margin: 0;
  line-height: 50px;
  transform-origin: 100% 0;
  transform: rotateZ(-90deg);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.handle .title small[data-v-e392bad4] {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  transform: scale(0.75) translateY(-5px);
  opacity: 0.7;
}
.handle .toggle[data-v-e392bad4] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@-moz-keyframes expand-handle-data-v-e392bad4 {
0% {
    transform: translateX(300px);
}
50% {
    transform: translateX(250px);
}
50.1%, 100% {
    transform: translateX(0);
}
}
@-webkit-keyframes expand-handle-data-v-e392bad4 {
0% {
    transform: translateX(300px);
}
50% {
    transform: translateX(250px);
}
50.1%, 100% {
    transform: translateX(0);
}
}
@-o-keyframes expand-handle-data-v-e392bad4 {
0% {
    transform: translateX(300px);
}
50% {
    transform: translateX(250px);
}
50.1%, 100% {
    transform: translateX(0);
}
}
@keyframes expand-handle-data-v-e392bad4 {
0% {
    transform: translateX(300px);
}
50% {
    transform: translateX(250px);
}
50.1%, 100% {
    transform: translateX(0);
}
}
@-moz-keyframes collapse-handle-data-v-e392bad4 {
0%, 50% {
    transform: translateX(0);
}
50.1% {
    transform: translateX(250px);
}
100% {
    transform: translateX(300px);
}
}
@-webkit-keyframes collapse-handle-data-v-e392bad4 {
0%, 50% {
    transform: translateX(0);
}
50.1% {
    transform: translateX(250px);
}
100% {
    transform: translateX(300px);
}
}
@-o-keyframes collapse-handle-data-v-e392bad4 {
0%, 50% {
    transform: translateX(0);
}
50.1% {
    transform: translateX(250px);
}
100% {
    transform: translateX(300px);
}
}
@keyframes collapse-handle-data-v-e392bad4 {
0%, 50% {
    transform: translateX(0);
}
50.1% {
    transform: translateX(250px);
}
100% {
    transform: translateX(300px);
}
}
@-moz-keyframes expand-nav-data-v-e392bad4 {
0%, 50% {
    transform: translateX(-300px);
}
100% {
    transform: translateX(0);
}
}
@-webkit-keyframes expand-nav-data-v-e392bad4 {
0%, 50% {
    transform: translateX(-300px);
}
100% {
    transform: translateX(0);
}
}
@-o-keyframes expand-nav-data-v-e392bad4 {
0%, 50% {
    transform: translateX(-300px);
}
100% {
    transform: translateX(0);
}
}
@keyframes expand-nav-data-v-e392bad4 {
0%, 50% {
    transform: translateX(-300px);
}
100% {
    transform: translateX(0);
}
}
@-moz-keyframes collapse-nav-data-v-e392bad4 {
0% {
    transform: translateX(0);
}
50% {
    transform: translateX(-300px);
}
}
@-webkit-keyframes collapse-nav-data-v-e392bad4 {
0% {
    transform: translateX(0);
}
50% {
    transform: translateX(-300px);
}
}
@-o-keyframes collapse-nav-data-v-e392bad4 {
0% {
    transform: translateX(0);
}
50% {
    transform: translateX(-300px);
}
}
@keyframes collapse-nav-data-v-e392bad4 {
0% {
    transform: translateX(0);
}
50% {
    transform: translateX(-300px);
}
}


main[data-v-7689cd2c] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
main[data-v-7689cd2c] article.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50px;
  overflow: auto;
}
.expanded.initial[data-v-7689cd2c] article.content {
  transform: translateX(250px);
}
.expanded[data-v-7689cd2c]:not(.initial) article.content {
  animation: expand-content-data-v-7689cd2c 1s both;
}
.collapsed.initial[data-v-7689cd2c] article.content {
  transform: translateX(250px);
}
.collapsed[data-v-7689cd2c]:not(.initial) article.content {
  animation: collapse-content-data-v-7689cd2c 1s both;
}
@-moz-keyframes expand-content-data-v-7689cd2c {
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(250px);
}
}
@-webkit-keyframes expand-content-data-v-7689cd2c {
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(250px);
}
}
@-o-keyframes expand-content-data-v-7689cd2c {
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(250px);
}
}
@keyframes expand-content-data-v-7689cd2c {
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(250px);
}
}
@-moz-keyframes collapse-content-data-v-7689cd2c {
0% {
    transform: translateX(250px);
}
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(0);
}
}
@-webkit-keyframes collapse-content-data-v-7689cd2c {
0% {
    transform: translateX(250px);
}
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(0);
}
}
@-o-keyframes collapse-content-data-v-7689cd2c {
0% {
    transform: translateX(250px);
}
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(0);
}
}
@keyframes collapse-content-data-v-7689cd2c {
0% {
    transform: translateX(250px);
}
50% {
    transform: translateX(-50px);
}
100% {
    transform: translateX(0);
}
}


.__nuxt-error-page {
  padding: 1rem;
  background: #F7F8FB;
  color: #47494E;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 100 !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.__nuxt-error-page .error {
  max-width: 450px;
}
.__nuxt-error-page .title {
  font-size: 1.5rem;
  margin-top: 15px;
  color: #47494E;
  margin-bottom: 8px;
}
.__nuxt-error-page .description {
  color: #7F828B;
  line-height: 21px;
  margin-bottom: 10px;
}
.__nuxt-error-page a {
  color: #7F828B !important;
  text-decoration: none;
}
.__nuxt-error-page .logo {
  position: fixed;
  left: 12px;
  bottom: 12px;
}

