/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-calendar {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  outline: none;
}
.veui-calendar button {
  transition-property: border-color, background-color, color, opacity;
  transition-duration: 0.2s;
}
.veui-calendar-panel {
  display: inline-block;
  position: relative;
}
.veui-calendar-panel + .veui-calendar-panel .veui-calendar-head {
  margin-left: 1px;
}
.veui-calendar-panel + .veui-calendar-panel .veui-calendar-body {
  border-left: 1px solid #fff;
}
.veui-calendar-panel::before {
  content: "";
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  height: 0;
  border-bottom: 1px solid #e7e7e7;
}
.veui-calendar-days + .veui-calendar-months .veui-calendar-body,
.veui-calendar-days + .veui-calendar-years .veui-calendar-body,
.veui-calendar-months + .veui-calendar-days .veui-calendar-body,
.veui-calendar-years + .veui-calendar-days .veui-calendar-body {
  border-color: #e7e7e7;
}
.veui-calendar-body {
  border-collapse: collapse;
  table-layout: fixed;
  padding-bottom: 5px;
}
.veui-calendar-body button {
  position: relative;
  width: 100%;
  height: 36px;
  margin-top: 1px;
  border: none;
  padding: 0;
  background-color: #fff;
  color: #666;
  text-align: center;
  outline: none;
}
.veui-calendar-body button:hover,
.veui-calendar-body button.focus-visible {
  background-color: #ebf5ff;
  color: #333;
}
.veui-calendar-body button:active {
  background-color: #d7eafe;
}
.veui-calendar-body button:disabled,
.veui-calendar-body button:disabled:hover {
  background-color: #fff;
  color: #b8b8b8;
  cursor: not-allowed;
}
.veui-calendar th {
  width: 36px;
  height: 34px;
  background-color: #f7f7f7;
  color: #999;
  font-weight: 400;
}
.veui-calendar td {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 0;
  color: #666;
}
.veui-calendar th,
.veui-calendar td {
  text-align: center;
}
.veui-calendar-aux button {
  color: #b8b8b8;
}
.veui-calendar-today button {
  color: #3998fc;
  font-weight: 600;
}
.veui-calendar-selected button,
.veui-calendar-in-range button {
  background-color: #c4e0fe;
}
.veui-calendar-selected button:hover,
.veui-calendar-in-range button:hover,
.veui-calendar-selected button.focus-visible,
.veui-calendar-in-range button.focus-visible {
  background-color: #b0d6fe;
}
.veui-calendar-selected button:active,
.veui-calendar-in-range button:active {
  background-color: #88c1fd;
}
.veui-calendar-head {
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: #666;
  *zoom: 1;
}
.veui-calendar-head:before,
.veui-calendar-head:after {
  display: table;
  content: "";
}
.veui-calendar-head:after {
  clear: both;
}
.veui-calendar-head button {
  height: 36px;
  background: none;
  border: none;
  padding: 0 7px;
  outline: none;
  cursor: pointer;
}
.veui-calendar-head button .veui-icon {
  width: 16px;
  vertical-align: middle;
  color: #999;
}
.veui-calendar-head button:hover,
.veui-calendar-head button.focus-visible {
  background-color: #f7f7f7;
  color: #333;
}
.veui-calendar-head button:hover .veui-icon,
.veui-calendar-head button.focus-visible .veui-icon {
  color: inherit;
}
.veui-calendar-head button:active {
  background-color: #e7e7e7;
  color: #666;
}
.veui-calendar-head button:active .veui-icon {
  color: inherit;
}
.veui-calendar-head button:disabled,
.veui-calendar-head button:disabled:hover {
  color: #b8b8b8;
  background: transparent;
  cursor: not-allowed;
}
.veui-calendar-head button:disabled .veui-icon {
  color: inherit;
}
.veui-calendar-label {
  line-height: 36px;
  color: #333;
}
.veui-calendar-prev,
.veui-calendar-next {
  width: 36px;
}
.veui-calendar-prev {
  float: left;
}
.veui-calendar-next {
  float: right;
}
.veui-calendar-days th:first-child,
.veui-calendar-days td:first-child {
  padding-left: 5px;
}
.veui-calendar-days th:last-child,
.veui-calendar-days td:last-child {
  padding-right: 5px;
}
.veui-calendar-days th:first-child,
.veui-calendar-days td:first-child,
.veui-calendar-days th:last-child,
.veui-calendar-days td:last-child {
  width: 41px;
}
.veui-calendar-months td,
.veui-calendar-years td {
  width: 60px;
  height: 65px;
}
.veui-calendar-months td button,
.veui-calendar-years td button {
  width: 54px;
  height: 54px;
}
.veui-calendar-months .veui-calendar-body,
.veui-calendar-years .veui-calendar-body {
  padding: 9px 11px 20px;
}

