/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-form .veui-fieldset,
.veui-form .veui-field {
  margin-bottom: 30px;
}
.veui-form .veui-fieldset:last-child,
.veui-form .veui-field:last-child {
  margin-bottom: 0;
}
.veui-form .veui-fieldset > .veui-field {
  margin-bottom: 0;
}
.veui-form[ui~="inline"] {
  *zoom: 1;
}
.veui-form[ui~="inline"]:before,
.veui-form[ui~="inline"]:after {
  display: table;
  content: "";
}
.veui-form[ui~="inline"]:after {
  clear: both;
}
.veui-form[ui~="inline"] > * + * {
  margin-left: 10px;
}
.veui-form[ui~="inline"] .veui-fieldset,
.veui-form[ui~="inline"] .veui-field {
  display: inline-block;
  margin-bottom: 0;
  clear: none;
}
.veui-form[ui~="inline"] .veui-fieldset > .veui-form-label,
.veui-form[ui~="inline"] .veui-field > .veui-form-label,
.veui-form[ui~="inline"] .veui-fieldset.veui-field-no-label::before,
.veui-form[ui~="inline"] .veui-field.veui-field-no-label::before {
  width: auto;
}
.veui-form[ui~="inline"] .veui-fieldset + .veui-fieldset,
.veui-form[ui~="inline"] .veui-field + .veui-fieldset {
  margin-left: 30px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-field {
  vertical-align: top;
  clear: both;
}
.veui-field-required > .veui-form-label::after {
  content: "*";
  float: right;
  margin-right: 9px;
  color: #ff5b5b;
}
.veui-field-no-label::before {
  content: "";
  display: inline-block;
  width: 120px;
}
.veui-field > * {
  display: inline-block;
  vertical-align: top;
}
.veui-field > *:not([class*="veui-form-label"]) + * {
  margin-left: 10px;
}
.veui-field .veui-form-label {
  height: 36px;
  width: 120px;
  line-height: 36px;
}
.veui-field .veui-span {
  line-height: 36px;
}
.veui-field-error {
  position: static;
  height: 36px;
  line-height: 36px;
  margin: 0 0 0 10px;
  vertical-align: top;
  color: #ff5b5b;
}
.veui-field-error .veui-icon {
  margin-right: 7px;
}
.veui-field .veui-form-tip {
  height: 36px;
  line-height: 36px;
  margin-left: 10px;
  color: #999;
}
.veui-field .veui-form-tip + .veui-field-error {
  position: absolute;
  display: block;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.veui-field .veui-form-tip + .veui-field-error .veui-icon {
  margin-top: calc(30px / 2 - .5em);
}
.veui-field .veui-form-label ~ .veui-form-tip + .veui-field-error {
  margin-left: 120px;
}
.veui-field .veui-form-label .veui-icon,
.veui-field .veui-field-error .veui-icon,
.veui-field .veui-form-tip .veui-icon,
.veui-field .veui-span .veui-icon {
  vertical-align: top;
  margin-top: calc(36px / 2 - .5em);
}
.veui-field[ui~="large"] {
  font-size: 16px;
}
.veui-field[ui~="large"] .veui-form-label,
.veui-field[ui~="large"] .veui-field-error,
.veui-field[ui~="large"] .veui-form-tip,
.veui-field[ui~="large"] .veui-span {
  line-height: 42px;
}
.veui-field[ui~="large"] .veui-form-label .veui-icon,
.veui-field[ui~="large"] .veui-field-error .veui-icon,
.veui-field[ui~="large"] .veui-form-tip .veui-icon,
.veui-field[ui~="large"] .veui-span .veui-icon {
  margin-top: calc(42px / 2 - .5em);
}
.veui-field[ui~="large"] .veui-form-label,
.veui-field[ui~="large"] .veui-field-error,
.veui-field[ui~="large"] .veui-form-tip {
  height: 42px;
}
.veui-field[ui~="small"] {
  font-size: 12px;
}
.veui-field[ui~="small"] .veui-form-label,
.veui-field[ui~="small"] .veui-field-error,
.veui-field[ui~="small"] .veui-form-tip,
.veui-field[ui~="small"] .veui-span {
  line-height: 32px;
}
.veui-field[ui~="small"] .veui-form-label .veui-icon,
.veui-field[ui~="small"] .veui-field-error .veui-icon,
.veui-field[ui~="small"] .veui-form-tip .veui-icon,
.veui-field[ui~="small"] .veui-span .veui-icon {
  margin-top: calc(32px / 2 - .5em);
}
.veui-field[ui~="small"] .veui-form-label,
.veui-field[ui~="small"] .veui-field-error,
.veui-field[ui~="small"] .veui-form-tip {
  height: 32px;
}
.veui-field[ui~="tiny"] {
  font-size: 12px;
}
.veui-field[ui~="tiny"] .veui-form-label,
.veui-field[ui~="tiny"] .veui-field-error,
.veui-field[ui~="tiny"] .veui-form-tip,
.veui-field[ui~="tiny"] .veui-span {
  line-height: 28px;
}
.veui-field[ui~="tiny"] .veui-form-label .veui-icon,
.veui-field[ui~="tiny"] .veui-field-error .veui-icon,
.veui-field[ui~="tiny"] .veui-form-tip .veui-icon,
.veui-field[ui~="tiny"] .veui-span .veui-icon {
  margin-top: calc(28px / 2 - .5em);
}
.veui-field[ui~="tiny"] .veui-form-label,
.veui-field[ui~="tiny"] .veui-field-error,
.veui-field[ui~="tiny"] .veui-form-tip {
  height: 28px;
}
.veui-field[ui~="micro"] {
  font-size: 12px;
}
.veui-field[ui~="micro"] .veui-form-label,
.veui-field[ui~="micro"] .veui-field-error,
.veui-field[ui~="micro"] .veui-form-tip,
.veui-field[ui~="micro"] .veui-span {
  line-height: 22px;
}
.veui-field[ui~="micro"] .veui-form-label .veui-icon,
.veui-field[ui~="micro"] .veui-field-error .veui-icon,
.veui-field[ui~="micro"] .veui-form-tip .veui-icon,
.veui-field[ui~="micro"] .veui-span .veui-icon {
  margin-top: calc(22px / 2 - .5em);
}
.veui-field[ui~="micro"] .veui-form-label,
.veui-field[ui~="micro"] .veui-field-error,
.veui-field[ui~="micro"] .veui-form-tip {
  height: 22px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-fieldset {
  position: relative;
  clear: both;
}
.veui-fieldset-required > .veui-form-label::after {
  content: "*";
  float: right;
  margin-right: 9px;
  color: #ff5b5b;
}
.veui-fieldset.veui-field-no-label::before,
.veui-fieldset > .veui-field-no-label::before {
  width: auto;
}
.veui-fieldset > *:not([class*="veui-form-label"]) + * {
  margin-left: 10px;
}
.veui-fieldset[ui~="alt"] > .veui-form-label,
.veui-fieldset[ui~="alt"] > .veui-field:first-child .veui-form-label {
  padding-left: 10px;
}
.veui-fieldset[ui~="alt"] [class*="veui"][ui~="alt"] {
  border-color: transparent;
  box-shadow: none;
}
.veui-fieldset[ui~="alt"],
.veui-fieldset[ui~="alt"] > .veui-form-label,
.veui-fieldset[ui~="alt"] > .veui-field > .veui-form-label {
  background-color: #eee;
  border-color: #eee;
  color: #666;
}
.veui-fieldset > .veui-field .veui-field-error,
.veui-fieldset > .veui-field:not(.veui-field-no-tip) + .veui-field-error {
  position: absolute;
  display: block;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.veui-fieldset > .veui-field .veui-field-error .veui-icon,
.veui-fieldset > .veui-field:not(.veui-field-no-tip) + .veui-field-error .veui-icon {
  margin-top: calc(30px / 2 - .5em);
}
.veui-fieldset > .veui-field:not(.veui-field-no-label) ~ .veui-field-error,
.veui-fieldset > .veui-field:not(.veui-field-no-tip) + .veui-field-error {
  margin-left: 120px;
}
.veui-fieldset.veui-field-no-tip > .veui-field-no-tip:last-child > .veui-field-error {
  position: static;
  display: inline-block;
  margin-left: 10px;
  height: 36px;
  line-height: 36px;
  font-size: inherit;
}
.veui-fieldset.veui-field-no-tip > .veui-field-no-tip:last-child > .veui-field-error .veui-icon {
  margin-top: calc(36px / 2 - .5em);
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-input.veui-input-invalid,
.veui-input.veui-input-invalid:hover,
.veui-input.veui-input-invalid:focus {
  border-color: #ff5b5b;
}
.veui-input {
  overflow: hidden;
  display: inline-table;
  position: relative;
  height: 36px;
  line-height: 34px;
  width: 210px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #666;
  transition: border-color 0.3s, color 0.3s;
}
.veui-input-autofill {
  background-color: #faffbd;
}
.veui-field > .veui-input {
  display: inline-table;
}
.veui-input-hidden {
  display: none !important;
}
.veui-input-before,
.veui-input-main,
.veui-input-clear,
.veui-input-after {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.veui-input-main {
  width: 100%;
}
.veui-input-input {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  background-color: transparent;
  text-overflow: ellipsis;
}
.veui-input-clear {
  padding-right: 12px;
}
.veui-input-clear-button {
  width: 1em;
  height: 1em;
  padding: 0;
  vertical-align: calc(-50% + .5em);
  vertical-align: -3px\9\0;
  border: none;
  background-color: transparent;
  color: #666;
  outline: none;
  cursor: unset;
}
.veui-input-clear-button.focus-visible {
  color: #333;
}
.veui-input-clear .veui-icon {
  cursor: pointer;
  vertical-align: top;
}
.veui-input-clear .veui-icon:hover {
  color: #333;
}
.veui-input:hover,
.veui-input-focused {
  border-color: #999;
}
.veui-input-focused {
  color: #333;
}
.veui-input.veui-readonly,
.veui-input.veui-disabled {
  background-color: #f7f7f7;
}
.veui-input.veui-readonly,
.veui-input.veui-disabled,
.veui-input.veui-readonly:hover,
.veui-input.veui-disabled:hover {
  border-color: #dbdbdb;
  color: #999;
}
.veui-input.veui-disabled,
.veui-input.veui-disabled .veui-input-input {
  cursor: not-allowed;
}
.veui-input-placeholder {
  position: absolute;
  padding-left: 10px;
  color: #999 !important;
  pointer-events: none;
  cursor: text;
}
.veui-input[ui~="large"] {
  height: 42px;
  line-height: 40px;
  font-size: 16px;
}
.veui-input[ui~="small"] {
  height: 32px;
  line-height: 30px;
  font-size: 12px;
}
.veui-input[ui~="tiny"] {
  height: 28px;
  line-height: 26px;
  font-size: 12px;
}
.veui-input[ui~="micro"] {
  height: 22px;
  line-height: 20px;
  font-size: 12px;
}

