/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-tabs {
  overflow: hidden;
  position: relative;
}
.veui-tabs-menu button {
  background: none;
  border: none;
  padding: 0;
}
.veui-tabs-menu {
  overflow: hidden;
  white-space: nowrap;
  min-height: 35px;
}
.veui-tabs-menu-moving {
  transition: margin-right 0.5s ease-in-out;
}
.veui-tabs-menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 34px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.veui-tabs-list {
  overflow: hidden;
  position: relative;
  display: inline-block;
  min-height: 36px;
  max-width: 100%;
  vertical-align: top;
  z-index: 1;
}
.veui-tabs-list-wrapper-moving {
  transition: transform 0.5s ease-in-out;
}
.veui-tabs-list-wrapper {
  display: inline-block;
  padding: 0;
  margin: 0;
  transform: translate(0);
}
.veui-tabs-item {
  position: relative;
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
}
.veui-tabs-item:first-child {
  margin-left: 0;
}
.veui-tabs-item.veui-tabs-item-removable {
  margin-left: 34px;
}
.veui-tabs-item.veui-tabs-item-removable:first-child {
  margin-left: 0;
}
.veui-tabs-item.veui-tabs-item-removable .veui-tabs-item-status {
  margin-right: 8px;
}
.veui-tabs-item:first-child .veui-tabs-item-label {
  padding-left: 0;
}
.veui-tabs-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1px);
  background-color: #fff;
  z-index: -1;
}
.veui-tabs-item > .veui-tabs-item-remove {
  visibility: hidden;
  color: #999;
  cursor: pointer;
  outline: none;
}
.veui-tabs-item > .veui-tabs-item-remove .veui-icon {
  display: block;
}
.veui-tabs-item > .veui-tabs-item-remove::after {
  content: none;
}
.veui-tabs-item > .veui-tabs-item-remove:hover,
.veui-tabs-item > .veui-tabs-item-remove.focus-visible {
  color: #666;
}
.veui-tabs-item > .veui-tabs-item-remove:active {
  color: #333;
}
.veui-tabs-item-remove:focus,
.veui-tabs-item:hover > .veui-tabs-item-remove,
.veui-tabs-item-label.focus-visible > .veui-tabs-item-remove {
  visibility: visible;
}
.veui-tabs-item > .veui-tabs-item-label {
  padding: 0 10px;
  line-height: 2.5;
  display: inline-block;
  text-decoration: none;
  outline: none;
  position: relative;
}
.veui-tabs-item:not(.veui-tabs-item-disabled) > .veui-tabs-item-label {
  color: #333;
}
.veui-tabs-item:not(.veui-tabs-item-disabled) > .veui-tabs-item-label::after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;
  height: 2px;
  transition: background-color 0.3s;
}
.veui-tabs-item:not(.veui-tabs-item-disabled) > .veui-tabs-item-label.focus-visible::after,
.veui-tabs-item:not(.veui-tabs-item-disabled) > .veui-tabs-item-label:hover::after {
  background-color: #999;
}
.veui-tabs-item:not(.veui-tabs-item-disabled) > .veui-tabs-item-label:active::after {
  background-color: #333;
}
.veui-tabs-item:first-child:not(.veui-tabs-item-disabled) > .veui-tabs-item-label::after {
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 0;
}
.veui-tabs-item-active > .veui-tabs-item-label::after {
  background-color: #333;
}
.veui-tabs-item:first-child-label {
  margin-left: -10px;
}
.veui-tabs-item-disabled > .veui-tabs-item-label {
  cursor: not-allowed;
  color: #999;
}
.veui-tabs-item-status {
  display: inline-block;
  width: 1em;
  margin-right: 12px;
  vertical-align: top;
  cursor: pointer;
}
.veui-tabs-item-status-success {
  color: #5bc49f;
}
.veui-tabs-item-status-warning {
  color: #fe9700;
}
.veui-tabs-item-status-info {
  color: #3998fc;
}
.veui-tabs-item-status-error {
  color: #ff5b5b;
}
.veui-tabs-extra {
  display: inline-block;
  float: right;
  position: absolute;
  top: 0;
}
.veui-tabs-list-empty .veui-tabs-extra :first-child {
  margin-left: 0;
}
.veui-tabs-extra-tip {
  display: inline-block;
  line-height: 2.5;
  vertical-align: top;
  color: #b8b8b8;
}
.veui-tabs-operator {
  display: inline-block;
  margin-left: 60px;
  line-height: 2.5;
  outline: none;
  cursor: pointer;
}
.veui-tabs-operator .veui-icon {
  margin-right: 6px;
}
.veui-tabs-operator[disabled],
.veui-tabs-operator[disabled]:hover {
  cursor: not-allowed;
  color: #b8b8b8;
}
.veui-tabs-item-status .veui-icon,
.veui-tabs-item-remove,
.veui-tabs-operator .veui-icon {
  vertical-align: top;
  margin-top: calc(36px / 2 - .5em - 1px);
  user-select: none;
}
.veui-tabs-scroller {
  display: inline-block;
  line-height: 2.5;
  margin-left: 30px;
}
.veui-tabs-scroller-left,
.veui-tabs-scroller-right {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #f7f7f7;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
}
.veui-tabs-scroller-left:hover,
.veui-tabs-scroller-right:hover,
.veui-tabs-scroller-left.focus-visible,
.veui-tabs-scroller-right.focus-visible {
  background-color: #dbdbdb;
}
.veui-tabs-scroller-left:active,
.veui-tabs-scroller-right:active {
  background-color: #999;
}
.veui-tabs-scroller-left[disabled],
.veui-tabs-scroller-right[disabled] {
  background-color: #fff;
  color: #999;
  cursor: not-allowed;
}
.veui-tabs-scroller-right {
  margin-left: 8px;
}
.veui-tabs[ui~="large"] {
  font-size: 16px;
}
.veui-tabs[ui~="large"] .veui-tabs-menu::after {
  top: 39px;
}
.veui-tabs[ui~="large"] .veui-tabs-menu,
.veui-tabs[ui~="large"] .veui-tabs-list {
  min-height: 40px;
}
.veui-tabs[ui~="large"] .veui-tabs-operator {
  padding: 0 10px;
}
.veui-tabs[ui~="large"] .veui-tabs-item-status .veui-icon,
.veui-tabs[ui~="large"] .veui-tabs-item-remove,
.veui-tabs[ui~="large"] .veui-tabs-operator .veui-icon {
  margin-top: calc(42px / 2 - .5em - 1px);
}
.veui-tabs[ui~="large"] .veui-tabs-scroller-left,
.veui-tabs[ui~="large"] .veui-tabs-scroller-right {
  width: 32px;
  height: 32px;
}
.veui-tabs[ui~="large"] .veui-tabs-scroller-left .veui-icon,
.veui-tabs[ui~="large"] .veui-tabs-scroller-right .veui-icon {
  font-size: 14px;
  vertical-align: text-top;
}
.veui-tabs[ui~="small"] .veui-tabs-item {
  margin-left: 30px;
}
.veui-tabs[ui~="small"] .veui-tabs-item:first-child {
  margin-left: 0;
}
.veui-tabs[ui~="small"] .veui-tabs-menu::after {
  display: none;
}
.veui-tabs[ui~="tiny"] .veui-tabs-menu::after {
  display: none;
}
.veui-tabs[ui~="tiny"] .veui-tabs-item {
  margin-left: 21px;
  position: relative;
}
.veui-tabs[ui~="tiny"] .veui-tabs-item:first-child {
  margin-left: 0;
}
.veui-tabs[ui~="tiny"] .veui-tabs-item-label::after {
  height: 1px;
}
.veui-tabs[ui~="tiny"] .veui-tabs-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #e7e7e7;
  position: absolute;
  top: 10px;
  left: -11px;
}
.veui-tabs[ui~="tiny"] .veui-tabs-item:first-child::before {
  display: none;
}
.veui-tabs[ui~="block"] .veui-tabs-menu::after {
  display: none;
}
.veui-tabs[ui~="block"] .veui-tabs-list {
  height: 36px\9\0;
  border: 1px solid #e7e7e7;
}
.veui-tabs-list-empty.veui-tabs[ui~="block"] .veui-tabs-list {
  border-width: 1px 0 1px 1px;
}
.veui-tabs[ui~="block"] .veui-tabs-item {
  overflow: hidden;
  margin-left: 0;
  border: 1px solid #e7e7e7;
  border-width: 0 0 0 1px;
  background-color: #fff;
  cursor: pointer;
}
.veui-tabs[ui~="block"] .veui-tabs-item:first-child {
  margin-left: 0;
}
.veui-tabs[ui~="block"] .veui-tabs-item.veui-tabs-item-removable {
  padding-right: 12px;
  padding-right: 0\9\0;
}
.veui-tabs[ui~="block"] .veui-tabs-item-moving.veui-tabs-item-removable,
.veui-tabs[ui~="block"] .veui-tabs-item.veui-tab-leave-active {
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, padding-right 0.5s;
}
.veui-tabs[ui~="block"] .veui-tabs-item.veui-tab-leave-active {
  z-index: -1;
}
.veui-tabs[ui~="block"] .veui-tabs-item::after {
  display: none;
}
.veui-tabs[ui~="block"] .veui-tabs-item:first-child {
  border-left-width: 0;
  margin-left: 0;
}
.veui-tabs[ui~="block"] .veui-tabs-item-label {
  min-width: 62px;
  max-width: 160px;
  line-height: 34px;
  padding: 0 8px 0 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.veui-tabs[ui~="block"] .veui-tabs-item-label::after {
  display: none;
}
.veui-tabs[ui~="block"] .veui-tabs-item.focus-visible,
.veui-tabs[ui~="block"] .veui-tabs-item:hover {
  background-color: #f7f7f7;
}
.veui-tabs[ui~="block"] .veui-tabs-item:active {
  background-color: #e7e7e7;
}
.veui-tabs[ui~="block"] .veui-tabs-item.veui-tabs-item-removable > .veui-tabs-item-label {
  padding-right: 8px;
}
.veui-tabs[ui~="block"] .veui-tabs-item.veui-tabs-item-disabled {
  background-color: #fff;
  color: #b8b8b8;
}
.veui-tabs[ui~="block"] .veui-tabs-item.veui-tabs-item-active {
  background-color: #e7e7e7;
}
.veui-tabs[ui~="block"] .veui-tabs-item-status .veui-icon,
.veui-tabs[ui~="block"] .veui-tabs-item-remove,
.veui-tabs[ui~="block"] .veui-tabs-operator .veui-icon,
.veui-tabs[ui~="block"] .veui-tabs-scroller .veui-icon {
  margin-top: calc(34px / 2 - .5em);
  vertical-align: top;
}
.veui-tabs[ui~="block"] .veui-tabs-extra {
  border-bottom: none;
  vertical-align: top;
}
.veui-tabs-addable.veui-tabs[ui~="block"] .veui-tabs-extra::before {
  content: "";
  position: absolute;
  left: -1px;
  height: 100%;
  border-left: 1px solid #e7e7e7;
  z-index: 1;
}
.veui-tabs[ui~="block"] .veui-tabs-extra-label {
  display: none;
}
.veui-tabs[ui~="block"] .veui-tabs-operator {
  margin-left: 0;
  margin-right: 20px;
  width: 36px;
  line-height: 34px;
  border: 1px solid #e7e7e7;
  border-width: 1px 1px 1px 0;
  text-align: center;
  vertical-align: top;
}
.veui-tabs[ui~="block"] .veui-tabs-operator .veui-icon {
  margin-right: 0;
}
.veui-tabs[ui~="block"] .veui-tabs-scroller {
  line-height: 34px;
}
.veui-tabs[ui~="block"] .veui-tabs-scroller-left,
.veui-tabs[ui~="block"] .veui-tabs-scroller-right {
  width: 36px;
  height: 36px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
}
.veui-tabs[ui~="block"] .veui-tabs-scroller-left:hover,
.veui-tabs[ui~="block"] .veui-tabs-scroller-right:hover,
.veui-tabs[ui~="block"] .veui-tabs-scroller-left.focus-visible,
.veui-tabs[ui~="block"] .veui-tabs-scroller-right.focus-visible {
  background-color: #f7f7f7;
}
.veui-tabs[ui~="block"] .veui-tabs-scroller-left:active,
.veui-tabs[ui~="block"] .veui-tabs-scroller-right:active {
  background-color: #e7e7e7;
}
.veui-tabs[ui~="block"] .veui-tabs-scroller-left[disabled],
.veui-tabs[ui~="block"] .veui-tabs-scroller-right[disabled] {
  color: #b8b8b8;
  background-color: #fff;
}
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-item-label {
  line-height: 38px;
}
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-item-status .veui-icon,
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-item-remove,
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-operator .veui-icon,
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-scroller .veui-icon {
  margin-top: calc(38px / 2 - .5em);
  vertical-align: top;
}
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-operator {
  width: 40px;
  line-height: 38px;
}
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-scroller {
  line-height: 38px;
}
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-scroller-left,
.veui-tabs[ui~="large"][ui~="block"] .veui-tabs-scroller-right {
  width: 40px;
  height: 40px;
}

