/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-carousel {
  position: relative;
  *zoom: 1;
  width: 320px;
  height: 180px;
}
.veui-carousel:before,
.veui-carousel:after {
  display: table;
  content: "";
}
.veui-carousel:after {
  clear: both;
}
.veui-carousel-viewport {
  width: 320px;
  height: 180px;
  margin: 0 auto;
}
.veui-carousel-items {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.veui-carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: opacity 0.3s;
  outline: none;
}
.veui-carousel-item-image {
  width: 100%;
  height: 100%;
  background: no-repeat center / cover;
}
.veui-carousel-item-enter,
.veui-carousel-item-leave-to {
  opacity: 0;
}
.veui-carousel-control,
.veui-carousel-indicator-radios .veui-carousel-indicator-item {
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  transition-property: border-color, background-color, color, opacity;
  transition-duration: 0.2s;
}
.veui-carousel-control:focus,
.veui-carousel-indicator-radios .veui-carousel-indicator-item:focus {
  outline: none;
}
.veui-carousel-control:hover:not(:disabled),
.veui-carousel-indicator-radios .veui-carousel-indicator-item:hover:not(:disabled),
.veui-carousel-control.focus-visible:not(:disabled),
.veui-carousel-indicator-radios .veui-carousel-indicator-item.focus-visible:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.4);
}
.veui-carousel-control:active:not(:disabled),
.veui-carousel-indicator-radios .veui-carousel-indicator-item:active:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.6);
}
.veui-carousel-control {
  position: absolute;
  top: 74px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}
.veui-carousel-control:disabled {
  opacity: 0.5;
  cursor: default;
}
.veui-carousel-control-prev {
  left: 10px;
}
.veui-carousel-control-next {
  right: 10px;
}
.veui-carousel-control .veui-icon {
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 50%;
  left: auto;
  transform: translate(50%, 50%);
}
.veui-carousel-indicator-radios {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.veui-carousel-indicator-radios .veui-carousel-indicator-item {
  float: left;
  margin-left: 2px;
  width: 18px;
  height: 3px;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}
.veui-carousel-indicator-radios .veui-carousel-indicator-item:first-child {
  margin-left: 0;
}
.veui-carousel-indicator-radios .veui-carousel-indicator-item-current,
.veui-carousel-indicator-radios .veui-carousel-indicator-item-current:hover,
.veui-carousel-indicator-radios .veui-carousel-indicator-item-current.focus-visible {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.veui-carousel-indicator-radios .veui-carousel-indicator-item-current:active {
  background-color: #eee;
}
.veui-carousel-indicator-numbers {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 1px;
  user-select: none;
  cursor: default;
}
.veui-carousel-indicator-numbers-separator {
  margin-right: 2px;
  margin-left: 2px;
}
.veui-carousel-indicator-numbers-separator::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: currentColor;
  transform: rotate(15deg);
}
.veui-carousel-indicator-tabs {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#00000000', endColorstr='#ff333333', GradientType=0);
  text-align: right;
  font-size: 14px;
}
.veui-carousel-indicator-tabs .veui-carousel-indicator-item {
  height: 54px;
  line-height: 54px;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s;
}
.veui-carousel-indicator-tabs .veui-carousel-indicator-item:focus {
  outline: none;
}
.veui-carousel-indicator-tabs .veui-carousel-indicator-item:hover,
.veui-carousel-indicator-tabs .veui-carousel-indicator-item.focus-visible,
.veui-carousel-indicator-tabs .veui-carousel-indicator-item-current,
.veui-carousel-indicator-tabs .veui-carousel-indicator-item-current:hover {
  color: #fff;
}
.veui-carousel[ui~="loose"] {
  width: 444px;
  height: auto;
  min-height: 180px;
}
.veui-carousel[ui~="loose"] .veui-carousel-control-prev {
  left: 0;
}
.veui-carousel[ui~="loose"] .veui-carousel-control-next {
  right: 0;
}
.veui-carousel[ui~="loose"] .veui-carousel-indicator-numbers,
.veui-carousel[ui~="loose"] .veui-carousel-indicator-radios {
  position: static;
  float: left;
  margin-top: 10px;
  margin-left: 50%;
}
.veui-carousel[ui~="loose"] .veui-carousel-indicator-numbers {
  background-color: #eee;
  color: #999;
}
.veui-carousel[ui~="loose"] .veui-carousel-indicator-item-current,
.veui-carousel[ui~="loose"] .veui-carousel-indicator-item:hover,
.veui-carousel[ui~="loose"] .veui-carousel-indicator-item.focus-visible {
  background-color: #333;
}
.veui-carousel[ui~="loose"] .veui-carousel-indicator-item:active {
  background-color: #fff;
}
.veui-carousel[ui~="small"] {
  width: 160px;
  height: 90px;
}
.veui-carousel[ui~="small"][ui~="loose"] {
  width: 232px;
  height: auto;
  min-height: 90px;
}
.veui-carousel[ui~="small"] .veui-carousel-viewport {
  width: 160px;
  height: 90px;
}
.veui-carousel[ui~="small"] .veui-carousel-control {
  position: absolute;
  top: 37px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.veui-carousel[ui~="small"] .veui-carousel-control .veui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}
.veui-carousel[ui~="small"] .veui-carousel-indicator-radios .veui-carousel[ui~="small"] .veui-carousel-indicator-item {
  width: 14px;
  height: 2px;
  box-shadow: none;
}
.veui-carousel[ui~="large"] {
  width: 640px;
  height: 360px;
}
.veui-carousel[ui~="large"][ui~="loose"] {
  width: 816px;
  height: auto;
  min-height: 360px;
}
.veui-carousel[ui~="large"][ui~="loose"] .veui-carousel-indicator-numbers,
.veui-carousel[ui~="large"][ui~="loose"] .veui-carousel-indicator-radios {
  margin-top: 20px;
}
.veui-carousel[ui~="large"][ui~="loose"] .veui-carousel-indicator-tabs {
  display: none;
}
.veui-carousel[ui~="large"] .veui-carousel-viewport {
  width: 640px;
  height: 360px;
}
.veui-carousel[ui~="large"] .veui-carousel-control {
  position: absolute;
  top: 156px;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.veui-carousel[ui~="large"] .veui-carousel-control .veui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}
.veui-carousel[ui~="large"] .veui-carousel-indicator-tabs {
  display: block;
}
.veui-carousel[ui~="large"] .veui-carousel-indicator-numbers {
  padding: 0 6px;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}
.veui-carousel[ui~="large"] .veui-carousel-indicator-numbers-separator {
  margin-right: 4px;
  margin-left: 4px;
}
.veui-carousel[ui~="large"] .veui-carousel-indicator-numbers-separator::after {
  height: 11px;
}
.veui-carousel[ui~="large"] .veui-carousel-indicator-radios .veui-carousel[ui~="large"] .veui-carousel-indicator-item {
  width: 30px;
  height: 4px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-button {
  padding: 0 20px;
  user-select: none;
  vertical-align: middle;
  transition-property: border-color, background-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #666;
  height: 36px;
  line-height: 34px;
}
.veui-button:hover,
.veui-button:active {
  color: #333;
}
.veui-button:hover {
  background-color: #f7f7f7;
}
.veui-button:active {
  background-color: #e7e7e7;
}
.veui-button:focus {
  outline: none;
}
.veui-button.focus-visible {
  color: #3998fc;
}
.veui-button[ui~="primary"] {
  border-color: transparent;
  background-color: #3998fc;
  color: #fff;
}
.veui-button[ui~="primary"]:hover,
.veui-button[ui~="primary"].focus-visible {
  background-color: #3389e3;
}
.veui-button[ui~="primary"]:active {
  background-color: #2e7aca;
}
.veui-button[ui~="alt"] {
  border-color: transparent;
  background-color: #eee;
}
.veui-button[ui~="alt"]:hover {
  background-color: #e7e7e7;
}
.veui-button[ui~="alt"]:active {
  background-color: #dbdbdb;
}
.veui-button[ui~="alt"].focus-visible {
  color: #3998fc;
}
.veui-button[ui~="large"] {
  line-height: 42px;
  font-size: 16px;
  height: 42px;
  line-height: 40px;
}
.veui-button[ui~="large"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(20px - 0.5em);
}
.veui-button[ui~="small"] {
  line-height: 32px;
  font-size: 12px;
  height: 32px;
  line-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="small"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(15px - 0.5em);
}
.veui-button[ui~="tiny"] {
  line-height: 28px;
  font-size: 12px;
  height: 28px;
  line-height: 26px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="tiny"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(13px - 0.5em);
}
.veui-button[ui~="micro"] {
  min-width: auto;
  line-height: 22px;
  height: 22px;
  line-height: 20px;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}
.veui-button[ui~="micro"] > .veui-icon {
  vertical-align: top;
  margin-top: calc(10px - 0.5em);
}
.veui-button[ui~="round"] {
  border-radius: 50%;
}
.veui-button[ui~="round"],
.veui-button[ui~="square"] {
  width: 36px;
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.veui-button[ui~="round"][ui~="large"],
.veui-button[ui~="square"][ui~="large"] {
  width: 42px;
}
.veui-button[ui~="round"][ui~="small"],
.veui-button[ui~="square"][ui~="small"] {
  width: 32px;
}
.veui-button[ui~="round"][ui~="tiny"],
.veui-button[ui~="square"][ui~="tiny"] {
  width: 28px;
}
.veui-button[ui~="round"][ui~="micro"],
.veui-button[ui~="square"][ui~="micro"] {
  width: 22px;
}
.veui-button.veui-disabled,
.veui-button.veui-disabled[ui],
.veui-button.veui-disabled:hover,
.veui-button.veui-disabled[ui]:hover {
  cursor: not-allowed;
  border-color: transparent;
  background-color: #eee;
  color: #b8b8b8;
}
.veui-button[ui~="link"] {
  display: inline;
  min-width: auto;
  border: none;
  padding: 0;
}
.veui-button[ui~="link"],
.veui-button[ui~="link"]:hover,
.veui-button[ui~="link"]:active,
.veui-button[ui~="link"].focus-visible {
  background-color: transparent;
}
.veui-button[ui~="link"].veui-disabled,
.veui-button[ui~="link"].veui-disabled:hover {
  background-color: transparent;
}
.veui-button-loading,
.veui-button-loading[ui] {
  cursor: default;
  pointer-events: none;
}
.veui-button .veui-icon {
  max-width: 1em;
}
.veui-button .veui-icon + .veui-button-loading-text {
  margin-left: 5px;
}
.veui-button > .veui-icon {
  vertical-align: top;
  margin-top: calc(17px - 0.5em);
}
.veui-button-loading-text {
  vertical-align: top;
}
[ui~="round"] > .veui-button-loading-text,
[ui~="square"] > .veui-button-loading-text {
  display: none;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-radio {
  display: inline-block;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.veui-radio input {
  position: absolute;
  opacity: 0;
}
.veui-radio .veui-icon {
  display: none;
}
.veui-radio-label,
.veui-radio-box {
  vertical-align: top;
  display: inline-block;
  transition: color 0.3s;
}
.veui-field > .veui-radio {
  line-height: 36px;
}
.veui-field > .veui-radio .veui-radio-box {
  vertical-align: text-top;
}
.veui-radio .focus-visible ~ .veui-radio-box,
.veui-radio .focus-visible ~ .veui-radio-label,
.veui-radio:hover {
  color: #333;
}
.veui-radio .focus-visible ~ .veui-radio-box {
  box-shadow: 0 0 0 2px #dbdbdb;
}
.veui-radio-box {
  position: relative;
  height: 16px;
  width: 16px;
  border: 1px solid #666;
  background-color: #fff;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 14px;
  transition: box-shadow 0.3s;
}
.veui-radio-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}
.veui-radio:hover .veui-radio-box {
  border-color: #333;
}
.veui-radio :checked + .veui-radio-box {
  border-color: #333;
}
.veui-radio :checked + .veui-radio-box::before {
  transform: translate(-50%, -50%) scale(0.5);
}
.veui-radio.veui-disabled {
  cursor: not-allowed;
}
.veui-radio.veui-disabled .veui-radio-label {
  color: #999;
}
.veui-radio :disabled + .veui-radio-box {
  border-color: #dbdbdb;
  background-color: #eee;
}
.veui-radio :disabled + .veui-radio-box::before {
  background-color: #dbdbdb;
}
.veui-radio[ui~="small"] {
  font-size: 12px;
  line-height: 12px;
}
.veui-field[ui~="small"] > .veui-radio[ui~="small"] {
  line-height: 32px;
}
.veui-field[ui~="small"] > .veui-radio[ui~="small"] .veui-radio-box {
  vertical-align: -2px;
}
.veui-radio[ui~="small"] .veui-radio-box {
  margin-right: 6px;
  font-size: 12px;
  height: 12px;
  width: 12px;
}
.veui-radio[ui~="small"] .veui-radio-box::before {
  width: 12px;
  height: 12px;
}

/* Theme colors */
/* Additional colors */
/* Grayscale colors */
/* Text colors */
/* Link colors */
/* Font settings */
/* Metrics */
/* Form widths */
.veui-radio-group .veui-radio {
  margin-right: 15px;
}
.veui-radio-group .veui-radio:last-child {
  margin-right: 0;
}
.veui-field > .veui-radio-group {
  line-height: 36px;
}
.veui-field[ui~="small"] > .veui-radio-group[ui~="small"] {
  line-height: 32px;
}

