
@media screen and (min-resolution: 2dppx) {
html[data-v-082a649c] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}
*[data-v-082a649c],
*[data-v-082a649c]::before,
*[data-v-082a649c]::after {
  box-sizing: border-box;
}
html[data-v-082a649c] {
  font-family: "Helvetica Neue", Arial, PingFang SC, "Microsoft YaHei", sans-serif;
  font-weight: 400;
  color: #333;
}
html[data-v-082a649c],
body[data-v-082a649c],
#__nuxt[data-v-082a649c],
#__layout[data-v-082a649c] {
  height: 100%;
}
button[data-v-082a649c],
input[data-v-082a649c] {
  font: inherit;
  color: inherit;
}
a[data-v-082a649c]:focus {
  outline: none;
}
main[data-v-082a649c] {
  line-height: 1.5;
}
menu[data-v-082a649c] {
  margin: 0;
  padding: 0;
}
.menu-item[data-v-082a649c] {
  list-style: none;
  line-height: 1;
}
.menu-link[data-v-082a649c] {
  display: block;
  position: relative;
  text-decoration: none;
  cursor: default;
}
a.menu-link[data-v-082a649c] {
  cursor: pointer;
}
.menu-link[data-v-082a649c]::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0;
  height: 2px;
  transition: width 0.2s, left 0.2s;
}
a.menu-link[data-v-082a649c]:focus::after,
a.menu-link[data-v-082a649c]:hover::after {
  width: 100%;
  left: 0;
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs[data-v-082a649c] {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment[data-v-082a649c],
.hljs-quote[data-v-082a649c] {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag[data-v-082a649c],
.hljs-keyword[data-v-082a649c],
.hljs-formula[data-v-082a649c] {
  color: #c678dd;
}
.hljs-section[data-v-082a649c],
.hljs-name[data-v-082a649c],
.hljs-selector-tag[data-v-082a649c],
.hljs-deletion[data-v-082a649c],
.hljs-subst[data-v-082a649c] {
  color: #e06c75;
}
.hljs-literal[data-v-082a649c] {
  color: #56b6c2;
}
.hljs-string[data-v-082a649c],
.hljs-regexp[data-v-082a649c],
.hljs-addition[data-v-082a649c],
.hljs-attribute[data-v-082a649c],
.hljs-meta-string[data-v-082a649c] {
  color: #98c379;
}
.hljs-built_in[data-v-082a649c],
.hljs-class .hljs-title[data-v-082a649c] {
  color: #e6c07b;
}
.hljs-attr[data-v-082a649c],
.hljs-variable[data-v-082a649c],
.hljs-template-variable[data-v-082a649c],
.hljs-type[data-v-082a649c],
.hljs-selector-class[data-v-082a649c],
.hljs-selector-attr[data-v-082a649c],
.hljs-selector-pseudo[data-v-082a649c],
.hljs-number[data-v-082a649c] {
  color: #d19a66;
}
.hljs-symbol[data-v-082a649c],
.hljs-bullet[data-v-082a649c],
.hljs-link[data-v-082a649c],
.hljs-meta[data-v-082a649c],
.hljs-selector-id[data-v-082a649c],
.hljs-title[data-v-082a649c] {
  color: #61aeee;
}
.hljs-emphasis[data-v-082a649c] {
  font-style: italic;
}
.hljs-strong[data-v-082a649c] {
  font-weight: bold;
}
.hljs-link[data-v-082a649c] {
  text-decoration: underline;
}
.post[data-v-082a649c] {
  padding: 45px 60px;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  font-weight: 400;
}
.post-layout .post[data-v-082a649c] {
  min-height: 100%;
  margin-bottom: -192px;
}
.post-layout .post[data-v-082a649c]::after {
  content: "";
  display: block;
  height: 192px;
}
.post-layout.no-links .post[data-v-082a649c] {
  margin-bottom: -58px;
}
.no-links .post[data-v-082a649c]::after {
  height: 58px;
}
.post h1[data-v-082a649c] {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 36px;
}
.post h1 small[data-v-082a649c] {
  vertical-align: 0.1em;
  color: #999;
}
.post h2[data-v-082a649c] {
  margin-top: 1.3em;
  margin-bottom: 1.2em;
  font-size: 30px;
}
.post h2[data-v-082a649c]::before {
  content: "#";
  margin-right: 5px;
  color: #ccc;
}
.post h2 + h3[data-v-082a649c] {
  margin-top: 2em;
}
.post h3[data-v-082a649c] {
  margin-top: 1.25em;
  margin-bottom: 1.15em;
  font-size: 24px;
}
.post h4[data-v-082a649c] {
  margin-top: 1.15em;
  margin-bottom: 1.1em;
  font-size: 18px;
}
.post h5[data-v-082a649c] {
  margin-top: 1.05em;
  margin-bottom: 1.05em;
  font-size: 14px;
}
.post h6[data-v-082a649c] {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
}
.post h1[data-v-082a649c],
.post h2[data-v-082a649c],
.post h3[data-v-082a649c] {
  font-weight: 500;
  clear: both;
}
.post h1[data-v-082a649c],
.post h2[data-v-082a649c],
.post h3[data-v-082a649c],
.post h4[data-v-082a649c],
.post h5[data-v-082a649c],
.post h6[data-v-082a649c] {
  color: #333;
  line-height: 1;
}
.post br[data-v-082a649c] {
  clear: both;
}
.post p[data-v-082a649c] {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.post ul[data-v-082a649c],
.post ol[data-v-082a649c] {
  padding-left: 1.5em;
}
.post blockquote[data-v-082a649c] {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 5px solid #f1f1f1;
  color: #999;
}
.post table[data-v-082a649c] {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
  border-style: none solid;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.post th[data-v-082a649c],
.post td[data-v-082a649c] {
  min-width: 90px;
  padding: 7px 14px;
  border: 1px solid #f1f1f1;
  border-style: solid none;
  text-align: left;
}
.post th[data-v-082a649c] > :first-child,
.post td[data-v-082a649c] > :first-child {
  margin-top: 5px;
}
.post th[data-v-082a649c] > :last-child,
.post td[data-v-082a649c] > :last-child {
  margin-bottom: 5px;
}
.post th pre[data-v-082a649c],
.post td pre[data-v-082a649c] {
  padding: 10px 15px;
}
.post th table[data-v-082a649c],
.post td table[data-v-082a649c] {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.post td[data-v-082a649c]:first-child {
  white-space: nowrap;
}
.post a[data-v-082a649c]:link:not([class^="veui-"]),
.post a[data-v-082a649c]:visited:not([class^="veui-"]) {
  text-decoration: none;
  color: #3998fc;
  transition: color 0.2s;
}
.post a[data-v-082a649c]:link:not([class^="veui-"]):hover,
.post a[data-v-082a649c]:visited:not([class^="veui-"]):hover {
  color: #3389e3;
}
.post a[data-v-082a649c]:link:not([class^="veui-"]):active,
.post a[data-v-082a649c]:visited:not([class^="veui-"]):active {
  color: #2e7aca;
}
.post code[data-v-082a649c] {
  padding: 2px 4px;
  background-color: rgba(0,0,0,0.024);
  font-size: 90%;
}
.post hr[data-v-082a649c] {
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background-color: #eff0f1;
  border: 0;
  clear: both;
}
.post figure[data-v-082a649c] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post figure + h1[data-v-082a649c],
.post figure + h2[data-v-082a649c],
.post figure + h3[data-v-082a649c],
.post figure + h4[data-v-082a649c],
.post figure + h5[data-v-082a649c],
.post figure + h6[data-v-082a649c] {
  margin-top: 0;
}
.post figure img[data-v-082a649c] {
  display: block;
  margin: auto;
}
.post figure .preview[data-v-082a649c] {
  padding: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  transition: box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
}
.post figure .preview[data-v-082a649c]:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.post figure.hero[data-v-082a649c] {
  width: 100%;
}
.post figcaption[data-v-082a649c] {
  margin-top: 10px;
  font-size: 12px;
}
.post figcaption p[data-v-082a649c] {
  margin: 0;
  line-height: 20px;
}
.post figcaption .caption[data-v-082a649c] {
  font-weight: 500;
}
.post figcaption .desc[data-v-082a649c] {
  color: #999;
}
.post .comparison[data-v-082a649c] {
  float: right;
  width: 60%;
  margin: 0 0 30px 20px;
}
.post .comparison figure[data-v-082a649c] {
  width: calc(50% - 5px);
  margin: 0;
}
.post .comparison .good[data-v-082a649c] {
  float: left;
}
.post .comparison .bad[data-v-082a649c] {
  float: right;
}
.post .comparison .bad .caption[data-v-082a649c] {
  color: #ff5b5b;
}
.post img[data-v-082a649c] {
  max-width: 100%;
  max-height: 100%;
}
.post pre[data-v-082a649c] {
  border: 1px solid #eee;
  padding: 30px;
  background-color: #f9f9f9;
}
.post pre code[data-v-082a649c] {
  background-color: transparent;
  padding: 0;
}
.post var[data-v-082a649c] {
  font-family: "PT Serif", Georgia, serif;
}
.post kbd[data-v-082a649c] {
  display: inline-block;
  padding: 3px 5px;
  font-size: 90%;
  line-height: 10px;
  color: #444d56;
  vertical-align: 1px;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.post .custom-block[data-v-082a649c] {
  border: 1px solid;
  margin: 1em 0;
  padding: 0.75em 1em;
}
.post .custom-block[data-v-082a649c] > :first-child {
  margin-top: 0;
}
.post .custom-block[data-v-082a649c] > :last-child {
  margin-bottom: 0;
}
.post .alert[data-v-082a649c],
.post .warning[data-v-082a649c],
.post .tip[data-v-082a649c] {
  font-size: 13px;
}
.post .alert[data-v-082a649c] {
  border-color: #fee;
  background-color: #fff6f6;
}
.post .warning[data-v-082a649c] {
  border-color: #fef4e6;
  background-color: #fef9f2;
}
.post .tip[data-v-082a649c] {
  border-color: #d8ebff;
  background-color: #ebf5ff;
}
.post .badges[data-v-082a649c] {
  border: none;
  padding: 0;
}
.post .badges code[data-v-082a649c] {
  padding: 2px 3px;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: 80%;
}
.post .oss-badges[data-v-082a649c] {
  border: none;
  padding: 0;
}
.post .oss-badges a[data-v-082a649c] {
  margin-right: 10px;
}
.post .one-demo[data-v-082a649c] {
  margin: 1em 0 1.25em;
}

